[2018-12-31 01:32] alexkrolick opened #1 "update internal links"
Got most of the content from the README organized and split up into files, but the internal links that used to point to README headers need to be updated

[2018-12-31 20:32] alexkrolick opened #2 "Offline support"
https://github.com/kentcdodds/react-testing-library/pull/257#issuecomment-450685404

- service worker?
- support for docs browsers like Dash?

[2018-12-31 20:34] alexkrolick opened #3 "Add Algolia search"
https://docusaurus.io/docs/en/search

[2018-12-31 20:42] alexkrolick opened #4 "Add way to view main examples with non-React setup"
https://github.com/facebook/Docusaurus/issues/982

Maybe use tabs to switch between react, Vue, Cypress, etc

[2018-12-31 20:48] alexkrolick commented on #2
https://github.com/facebook/Docusaurus/issues/458

[2019-01-03 18:35] kentcdodds opened #5 "Add users"
We should add users here: https://github.com/alexkrolick/testing-library-docs/blob/3508987c5d0b78dfaf5b8548aae7b32866a47b78/website/siteConfig.js#L12-L21

[2019-01-03 18:36] kentcdodds commented on #5
What do you think @alexkrolick?

[2019-01-03 18:38] alexkrolick commented on #5
Yes, if we do they should show up in the block on the home page automatically (which may need some polish)

[2019-01-03 18:38] alexkrolick commented on #5
Or that part could he made into it's own page

[2019-01-03 18:40] kentcdodds commented on #5
Do you think it'd be possible to have three or so well-known users appear on the home page, then have a "show all" button or a link to another page that lists everyone?

[2019-01-03 18:41] alexkrolick commented on #5
Yeah the pages get the config object as props so you just write an area filter in the React components

[2019-01-03 18:45] kentcdodds commented on #5
Perfect! I'll tweet this out then and I'll add PayPal :D

[2019-01-03 18:55] kentcdodds opened #7 "Make the current page more obvious"
Right now it's a little hard to tell which page I'm currently on.

![image](https://user-images.githubusercontent.com/1500684/50655650-0bb83c80-0f4e-11e9-9a24-3007ce3b5c61.png)

Do you think we could make the current page red (maybe the same color as the octopus?)

![image](https://user-images.githubusercontent.com/1500684/50655852-9d27ae80-0f4e-11e9-9f09-c71e86cdd7d5.png)

Though that's probably

[2019-01-03 19:14] alexkrolick commented on #7
Yes, I think the way to do it is dig into the element inspector and find the class, and override it in custom.css

[2019-01-04 18:39] weyert commented on #7
I have created a pull requested to add the indicator

[2019-01-04 19:48] #7 closed

[2019-01-18 20:47] kentcdodds commented on #3
I just submitted our site to algolia. I'll ping in here once we have the API key and stuff.

[2019-01-24 19:46] alexkrolick opened #20 "Add docs for react-hooks-testing-library"
https://github.com/kentcdodds/react-testing-library/pull/274

[2019-01-29 20:02] timdeschryver opened #23 "Add Angular's implementation"
Hi!

Would it be OK if I submit a PR with an Angular implementation?
You can find the library at [angular-extensions/testing-library](https://github.com/angular-extensions/testing-library).

If it's OK, would it also be OK if I start from the [`cypress`](https://github.com/alexkrolick/testing-library-docs/blob/master/website/pages/en/cypress.js) implementation? Starting from scratch would be a bit

[2019-01-29 20:06] alexkrolick commented on #23
Yes please do!

[2019-01-29 20:50] timdeschryver commented on #23
Great! You can expect a PR later this week 😄

[2019-01-31 19:58] #23 closed

[2019-02-04 17:15] gregtatum opened #25 "Consider listing getAll queries explicitly in the API documentation"
(re-filed from https://github.com/kentcdodds/dom-testing-library/issues/200)

### Problem description:

As a user, I would like quick access to the API documentation.

The sidebar lists all of the queries that are available, and is an easy reference when I'm deep in the middle of writing tests. However, the `getAll` functions are not explicitly listed. Since I'm writing tests, I'm looking to quick

[2019-02-04 18:31] #5 closed

[2019-02-04 18:31] alexkrolick commented on #5
✔️

[2019-02-04 18:34] alexkrolick commented on #25
Listing all methods would be 4x as long  (possibly 6x if we add async), and duplicate a lot of content, so that seems a bit unwieldy.

Maybe we could reorganize to introduce the query types at the top, with a nav item for each kind (queryAll, query, get, getAll)

[2019-02-04 18:35] alexkrolick commented on #20
@donavon any interest in porting the examples over here?

[2019-02-04 21:20] kentcdodds commented on #25
Yes, I agree @alexkrolick. Perhaps the left could be "label text" "placeholder text" "text content" etc. etc. and then on each page we show a snippet of the available variations or something? With a summary page that shows the differences?

[2019-02-04 21:23] gregtatum commented on #25
That makes sense. I generally prefer explicitness over terseness. This is horribly styled but I was also thinking of something like this:

<img width="716" alt="image" src="https://user-images.githubusercontent.com/1588648/52237238-9f9f6000-288e-11e9-9027-7a2c7c925136.png">

It has the benefits of being searchable.

[2019-02-05 20:34] #3 closed

[2019-02-13 07:50] #25 closed

[2019-02-15 11:03] gkemp94 opened #37 "Code Sandbox Example Tests: Expect is not Defined"
The latest example docs refer to the following code sandbox example for tests, unfortunately the tests fail to run, throwing the error: "expect is not defined".

https://codesandbox.io/s/github/kentcdodds/react-testing-library-examples/tree/master/?from-embed

Chrome 71
Windows 7

[2019-02-16 19:34] alexkrolick opened #38 "Proofread "which query should I use" guide"
https://github.com/kentcdodds/react-testing-library/issues/301

Need to be clearer about the relative accessibility of the queries

[2019-02-19 21:26] alexkrolick opened #40 "Set scroll position after navigation"
More of a docusaurus issue, but it would be nice if the left navigation bar would either restore its position after navigation, or scroll to the selected navigation item. The second option is probably better so that external links would focus the current page in the nav tree.

[2019-02-22 00:47] alexkrolick commented on #37
The examples have their own repo, let's move this over there https://github.com/kentcdodds/react-testing-library-examples

[2019-02-22 00:47] #37 closed

[2019-02-26 23:15] alexkrolick commented on #20
This should be updated to use the external library now https://github.com/mpeyper/react-hooks-testing-library

[2019-02-27 02:55] r3dcrosse opened #44 "Broken documentation links for render and fireEvent"
**Describe the bug**
The links to `render` and `fireEvent` under Wrappers > React Testing Library > Example are broken.

- [This page](https://testing-library.com/docs/react-testing-library/example-intro) when linking to [render](https://testing-library.com/docs/react-testing-library/ecosystem-react-testing-library#render) and [fireEvent](https://testing-library.com/docs/react-testing-library/api-

[2019-03-04 07:49] gaurav5430 commented on #40
It seems there is an already open issue here:
https://github.com/facebook/Docusaurus/issues/823

there is a hack using scrollIntoView with the caveat that it might not work in all browsers.
https://github.com/facebook/Docusaurus/issues/823#issuecomment-421152269

We can do something similar while they try to fix it in docusaurus

[2019-03-04 18:24] #44 closed

[2019-03-15 12:56] fredrikolovsson opened #49 "Broken link in Cypress examples"
**Describe the bug**
The `cypress-testing-library` docs show some examples and link to a spec file in the repo, but the link is broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://testing-library.com/docs/cypress-testing-library/intro#examples
2. Click on the link in the first paragraph under the "Examples" header
3. See error:
![Screenshot 2019-03-15 13 48 08](https://user

[2019-03-15 23:23] #49 closed

[2019-03-16 19:22] tylerthehaas opened #51 "Framework specific docs"
Describe the feature you'd like:
I introduced this at work a few months back and overall everyone loves it. The main complaint that I get from co-workers is that the docs make it hard to find answers when they don't know how to do something. I think the reason most are getting confused is because most of the docs are for dom-testing-library and it is not always clear how those methods map over to

[2019-03-17 21:13] alexkrolick commented on #51
Seems like a similar idea to https://github.com/alexkrolick/testing-library-docs/issues/4 - providing a way to view the examples with any/no wrapper library.

Why would Gitbook be better than the current solution, Docusaurus? Is this a matter of the sidebar navigation being confusing?

[2019-03-17 21:17] alexkrolick commented on #51
Maybe we can use this feature: https://docusaurus.io/docs/en/doc-markdown#language-specific-code-tabs

[2019-03-17 21:32] kentcdodds commented on #51
Whatever we do, let's not use gitbook. That's been unmaintained for a very long time.

[2019-03-17 21:39] tylerthehaas commented on #51
So to clarify the suggestion wasn't about any specific piece of technology but about making the docs easier to find what you're looking for. The main problem right now is that it's Dom testing library based with little on the different library implementations.

[2019-03-17 21:43] kentcdodds commented on #51
Yup. I definitely agree that makes it difficult 👍

[2019-03-17 22:15] alexkrolick commented on #51
I like the code tab approach so far:

<img width="702" alt="Screen Shot 2019-03-17 at 3 14 07 PM" src="https://user-images.githubusercontent.com/1571667/54498674-5b5ca200-48c7-11e9-9bbc-cc66a936cd23.png">

Unfortunately there is a bug that makes it unusable at the moment: https://github.com/facebook/Docusaurus/issues/1255

I'll look into fixing it and then making a PR to add tabs to the Query API

[2019-03-17 22:31] kentcdodds commented on #51
I love that 👍

[2019-03-17 23:26] tylerthehaas commented on #51
Yeah that looks like it'll be awesome! Let me know if I can help in anyway. Ill probably have some time tomorrow to work on it.

[2019-03-17 23:56] alexkrolick commented on #51
It would be great if you could check for broken functionality or incorrect syntax in the deploy preview for #52 ; I'll probably merge it soon and then continue to add multiple-framework support as we go.

[2019-03-18 01:34] #51 closed

[2019-03-18 01:41] #40 closed

[2019-03-18 01:42] #4 closed

[2019-03-18 01:48] #38 closed

[2019-03-18 01:48] alexkrolick commented on #38
Closed in 8ace7dede2bf445fd845c1bcb515ce9b1a684d45

[2019-03-18 15:14] bruqui opened #54 "More documentation for react-testing-library"
Currently it seems like the best way to figure out what keys are available is to scrape through the code in the examples provided with the react-testing-library documentation or scrape through the internet. It would be nice to have ALL the keys available from react-testing library, render, container, etc. broken out kind of like how react props are explained in many react component libraries. For

[2019-03-18 17:19] alexkrolick commented on #54
Have you checked https://testing-library.com/docs/api-events#fireevent-eventname?

https://testing-library.com/docs/api-async

https://testing-library.com/docs/api-queries just updated yesterday with tabs for the react syntax of each query

[2019-03-19 21:03] alexkrolick opened #56 "Document bundle types"
Document UMD, CJS, ESM exports and when to use them

https://github.com/kentcdodds/dom-testing-library/issues/212

[2019-03-19 23:21] kentcdodds opened #57 "Cheat sheet"
I think having a single page of all available queries and methods with short descriptions would be really cool. Something people could open up or even print and use as a reference. Anyone want to build that?

[2019-03-20 00:57] alexkrolick commented on #57
Yeah, I think this would be a good thing to do in conjuction with https://github.com/alexkrolick/testing-library-docs/issues/56. And the react-testing-library section can also list waitForElement, wait, fireEvent, etc. and link out to the main docs for those.

[2019-03-20 01:00] kentcdodds commented on #57
Exactly. Kind of like a: here's everything you can do with dom-testing-library

And then another page that's a: here's everything you can do with react-testing-library

And people could make one for all other variants as well. I think it could be really helpful as an overview.

[2019-03-21 17:11] #56 closed

[2019-03-22 20:56] kentcdodds opened #62 "Funding"
Hey folks 👋

I've been thinking about this a lot and I'd like to hear what people think about adding [CodeFund](https://codefund.app/) to the site.

I think it's tricky to deal with money when there are various contributors to a project and it's not my intention for any of us to receive the money ourselves. Instead, I see this as an easy (and ethical) way to generate money which we could use to do

[2019-04-03 21:44] bcarroll22 commented on #57
Do you have examples of other things like the one you're looking for?

[2019-04-03 22:31] alexkrolick commented on #57
Something kind of like this, but probably as a single column for now? https://devhints.io/enzyme

Basically a list of all the methods ands queries and a single like explaining what they do

[2019-04-04 20:46] alexkrolick opened #69 "Alternate organization ideas"
What are some ways that the current doc organization could be improved?

The shortcomings I see right now are:

- Long nav list (could also be good, it's all on one page at least)
- dom-testing-library setup and API is the main focus and dominates the nav structure; other wrappers refer to it. Implementations that don't rely on or have significant wrapping of the core library need additional treat

[2019-04-04 21:46] kentcdodds commented on #69
I like the suggestion 👍

[2019-04-05 17:40] #54 closed

[2019-04-05 17:40] #57 closed

[2019-04-05 17:40] #69 closed

[2019-04-05 20:36] bcarroll22 opened #71 "Add native to the docs"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
First off, I love the new structure!

Here are my biggest questions with regards to getting native in the site:

1. Queries aren't the same between native and dom. Should we make those more of a generic priority list and explain the reasoning? Maybe something like "Things a user can see", "T

[2019-04-05 20:44] kentcdodds commented on #71
I'm kinda feeling like merging the two would cause undue confusion on everyone involved (maintainers included). 🤔

[2019-04-05 21:18] bcarroll22 commented on #71
I can definitely see that. The thing I keep going back to, I would love a testing-library site dedicated solely to principles and guides. That site could also serve as an entry point to family packages and wrappers.

I may be thinking too big here but I see testing-library as more of a philosophy than a library. Implementations of that philosophy right now are DOM and Native. Wrappers of those imp

[2019-04-05 21:49] kentcdodds commented on #71
Honestly, I'm not sure how I feel about it. I know that I want to make things simple for people, but I don't know how much more time I can dedicate to improving documentation currently :-/ (@alexkrolick has actually been doing most of that work for the last few months ❤️)

[2019-04-05 22:35] alexkrolick commented on #71
If we could slightly condense the Native docs I think they would fit in OK

- https://testing-library.com/docs/intro is pretty generic now, and calls out some of the more divergent libraries - Reason and Native
- the API docs are now scoped to the DTL heading, and wrappers for web frameworks reference that directly
- the examples right now are pretty heavily focused on React - it would be good to

[2019-04-08 15:27] bcarroll22 commented on #71
I've been thinking about this, and as a part of the process I've switched [native's docs](native-testing-library.com) to match the new format.

I think this will help see how things could merge. That said, to your point Kent, it may just not make things simpler. My goal is to think on it for a few days to see how we all feel about it.

[2019-04-13 23:54] alexkrolick opened #78 "Set up all-contributors"
https://github.com/all-contributors/all-contributors

[2019-04-14 23:50] alexkrolick opened #80 "add recipe for custom queries + custom render"
Add a recipe combining these 2 steps:

- https://testing-library.com/docs/dom-testing-library/api-helpers#custom-queries
- https://testing-library.com/docs/react-testing-library/setup#custom-render

[2019-04-19 17:25] bcarroll22 commented on #71
I think I'm going to go ahead and close this for now because I haven't been able to think about it much more.

If this is something you're still interested in @alexkrolick and @kentcdodds we can keep working on it. If it's something you'd rather not do, I'm fine with that approach as well. Just let me know 👍

[2019-04-19 17:25] #71 closed

[2019-04-19 17:27] bcarroll22 commented on #80
This would be very helpful.

I'll add this recipe to the native docs soon, and when I do I'll submit a version for DOM 👍

[2019-04-19 17:31] bcarroll22 commented on #20
Let me look at this, I'll see how much modification it would be to port the docs from native to here.

What section would you want it in? Ecosystem? I created a "Hook Examples" section in the recipes sidebar on native's docs [see here](https://www.native-testing-library.com/docs/hook-example-async), but I added `renderHook` to the API section since we export it directly, so that wouldn't work.

[2019-04-19 18:36] alexkrolick commented on #20
@bcarroll22 https://github.com/alexkrolick/testing-library-docs/pull/64 I think I left feedback on this one that should be enough to get this done

I think we want an ecosystem link for the lib and then a Recipe for both a custom hook and a component implemented using hooks (to illustrate there are no differences between that and a class component in terms of tests)

@donavan may also have some fe

[2019-04-24 05:55] renerbaffa opened #82 "Add `debug` method in the `within` API documentation"
After introducing https://github.com/kentcdodds/dom-testing-library/issues/249 to `dom-testing-library` would be nice to update this section on documentation:

https://testing-library.com/docs/dom-testing-library/api-helpers#debugging

[2019-04-25 15:08] kentcdodds commented on #82
We've decided to not go this route.

[2019-04-25 15:08] #82 closed

[2019-04-25 19:00] kentcdodds opened #85 "Transfer to testing-library org"
I guess it's about time :) https://github.com/testing-library

[2019-04-25 20:20] alexkrolick commented on #85
💯done

[2019-04-25 20:20] #85 closed

[2019-04-25 20:46] alexkrolick commented on #62
- Even without the Codefund component, we should add a page explaining the [open collective](https://opencollective.com/testing-library) org
- It looks like there is some kind of job board through Codefund - would it be possible to specify only jobs instead of general ads?

[2019-04-25 21:04] kentcdodds commented on #62
I'm sure it would. cc @coderberry

[2019-04-25 21:14] coderberry commented on #62
Unfortunately for the time being we are stepping away from the job board. We simply don’t have enough people on our team to do both well.

[2019-04-25 22:10] kentcdodds commented on #62
Ah, too bad.

[2019-04-25 22:10] kentcdodds commented on #62
I think we can still add the ads though.

[2019-04-29 02:44] bcarroll22 opened #92 "RFC: Native docs merge"
**Is your feature request related to a problem? Please describe.**
Nope, promised I'd be back to talk about this with a plan though 😉

**Describe the solution you'd like**
I'd like to merge the docs sites. Seems very doable now.

**Describe alternatives you've considered**
Not merging the docs sites 🤷‍♂️

**Additional context**
Alright here we go. Here's the content hierarchy I'm proposing:

## To

[2019-04-29 03:01] kentcdodds commented on #92
I think this is good, though having Native at the same level of DOM makes it seem like it's the same level of abstraction, but it's not quite because it is specific to react. Not sure that warrants a chance, but just a thought.

[2019-04-29 03:04] alexkrolick commented on #92
I like the overall direction, but a a few comments:

- The sidebar can only be nested 2 levels, so unless all the wrappers are converted to 1-pagers, you won't be able to navigate within the docs for them.
- "Main API" is mostly the queries, right? What if we put them all on one top-level page and use code blocks and/or some kind of table to differentiate between Native and DOM?

[2019-04-29 03:05] bcarroll22 commented on #92
Ah, that’s a good point. Now that you mention it, it just occurred to me the name itself has that confusion too 😐

It’s not really related to this RFC at all but 3.0.0 actually does set it up to be usable as a platform for more than just react-native proper. I could see it becoming equally ecosystem-ish someday, but that’s not now in any case and it would still only be for React 🤔

[2019-04-29 03:08] bcarroll22 commented on #92
@alexkrolick point number 2 and 3, I’m a huge fan. I’ll have to take another peek and make sure that’s gonna be possible, but it sounds like it would work. Also the two levels thing is a pretty big limitation in this model so that’s a good call.

[2019-04-29 03:42] alexkrolick commented on #92
Also, taking a look at the RN docs and the NTL docs, it looks you could potentially simplify the queries for the RN accessibility attributes, bringing the number of native queries that don't have a DOM equivalent down to 1:
- `byA11yRole` ➡️ `byRole` https://facebook.github.io/react-native/docs/view#accessibilityrole (none|button|link|header|search|image|key|text|text|summary|imagebutton|adjustabl

[2019-04-29 04:03] bcarroll22 commented on #92
🤔 good point.

- Role can definitely change
- What do you mean by modifier?
- Traits will be deprecated, but it’ll be a while and they were the go-to up until very recently. I think removing them might strand some teams trying to adopt the library.
- There’s no equivalent in native of a DOM label tag, but I could make it `ByLabelText` instead and just get the accessibilityLabel.
- Same with `ByVal

[2019-04-29 04:05] bcarroll22 commented on #92
What I could do is have `ByRole` prefer accessibilityRole and also check accessibilityTraits if it can’t find what it’s looking for. That might work to get rid of that one as well 🤔

[2019-04-29 05:04] alexkrolick commented on #92
Some of the DOM queries options argument have a `selector` key that can be a CSS selector. `getByText('click me', {selector: 'button[disabled="true"]'})`. You could do something like that.

That seems reasonable, since they are the same values except pulling out the accessiblityStates.

I guess that could stay separate if there's no clean mapping

[2019-04-29 05:46] co16353sidak commented on #78
@alexkrolick would love to work on this as my first issue here

[2019-04-29 05:54] co16353sidak opened #93 "Safari: Website Fails to load code-block-buttons.css"
**Describe the bug**

**This occurs in safari, not able to replicate this for Firefox.**

the css file `code-block-buttons.css` seems to be present and well inside the repository folder
[here](https://github.com/testing-library/testing-library-docs/blob/master/website/static/css/code-block-buttons.css)

But on loading the website, the console gives a 404 error on the file.
<img width="1280" alt="S

[2019-04-29 06:20] alexkrolick commented on #78
@co16353sidak go ahead!

[2019-04-29 06:37] alexkrolick commented on #93
Thanks for reporting @co16353sidak

I see it 404 in Chrome too. Downloaded the Netlify build, it appears to be missing.

[deploy-5cc666dd4036dee241520444.zip](https://github.com/testing-library/testing-library-docs/files/3126142/deploy-5cc666dd4036dee241520444.zip)

I think what's happening is Docusaurus concatenates the `css` directory contents into `main.css`, so the stylesheets config entry is

[2019-04-29 06:53] co16353sidak commented on #93
@alexkrolick
On some investigation I have found that by removing the call to the css file in `siteConfig.js` seems to remove the console error and the main.css seems to contain all the required styles for `code-block-buttons.css`.
Submitting a PR for your reviewing now.

[2019-04-29 07:24] #93 closed

[2019-04-29 07:25] alexkrolick commented on #93
Thank you!

[2019-04-29 08:35] co16353sidak commented on #78
@alexkrolick there will be a need to setup the all-contributors bot in the repo, this I think can only be done by someone with push access to the repo.
I have sent you the details regarding the installation.
https://allcontributors.org/docs/en/bot/installation
I can follow up with PRs once the bot setup is done.

[2019-04-29 14:39] bcarroll22 commented on #92
Is there a contextual reason that value is queried `ByDisplayValue` instead of `ByValue`? The reason I went with `ByValue` is because you're actually looking for a native component with the `value` prop.

Is there something more to it I'm not thinking of that makes `DisplayValue` a more accurate description for the DOM?

[2019-04-29 14:49] alexkrolick commented on #78
@co16535sidak bot installed ✔️

[2019-04-29 14:53] alexkrolick commented on #92
Yes, it can read the value from select tags (which derive the value from options tags within) https://github.com/testing-library/dom-testing-library/blob/master/src/queries/display-value.js

[2019-04-29 16:24] co16353sidak commented on #78
Trying to test the bot:
@all-contributors please add @co16353sidak  for bug reporting and code commits

[2019-04-29 16:25] co16353sidak commented on #78
@alexkrolick please check set up of all-contributors now with a sample PR I have submitted for myself.

[2019-04-29 17:33] Hongarc opened #96 "Featuring Testing Library in Docusaurus"
Hello, we would like to feature your project to the Docusaurus users page.

More info about this [here](https://github.com/facebook/Docusaurus/issues/1080)

[2019-04-29 18:22] kentcdodds commented on #96
Sounds great to me 👍

[2019-04-29 18:23] #96 closed

[2019-04-29 22:04] bcarroll22 commented on #92
@alexkrolick really appreciate you pointing those things out yesterday. Current state, I’ve got all of the query API matched up to DTL’s with a couple of exceptions. Heres where I’m at:

- We don’t have CSS selectors, but I did implement selector as a filter callback, which takes care of looking for states. Great call 💯
- Roles and traits are rolled into a ByRole query, and that change worked out

[2019-04-29 22:37] alexkrolick commented on #92
Great, that will really simplify the merged queries page :boom:

[2019-04-29 22:42] kentcdodds commented on #92
And it'll make it much easier for people to "learn once, test anywhere"

[2019-04-29 22:44] kentcdodds commented on #92
https://twitter.com/kentcdodds/status/1122994862024904704

[2019-04-30 03:33] bcarroll22 commented on #92
At this point, I consider v3 to be in release candidate stage.

My suggestion is that once I resolve the comments on #91, we go ahead and merge it. After that, I'll update the native docs in preparation for the release. I think the benefit of doing it that way is the content will be complete so we can compare the two side-by-side. Once the release is public and its docs are squared away, Alex, Ken

[2019-04-30 16:31] kentcdodds commented on #92
I'm happy with everything I'm seeing 👍

[2019-05-02 05:34] alexkrolick commented on #78
@all-contributors please add @kentcdodds for maintenance

@all-contributors please add @alexkrolick for maintenance

[2019-05-02 05:41] alexkrolick commented on #78
@all-contributors please add @kentcdodds for maintaining the repo

@all-contributors please add @alexkrolick for maintaining the repo

[2019-05-02 05:41] alexkrolick commented on #78
@all-contributors please add @kentcdodds for code

@all-contributors please add @alexkrolick for code

[2019-05-02 05:42] alexkrolick commented on #78
@all-contributors please add @kentcdodds for maintenance

[2019-05-02 05:42] alexkrolick commented on #78
@all-contributors please add @alexkrolick for maintenance

[2019-05-02 05:43] alexkrolick commented on #78
🤖 🤖 🤖 ok I get it, only one per message 😅

[2019-05-02 06:04] co16353sidak commented on #78
@alexkrolick 😀  let me finalise the bot configuration then we can create a separate issue for logging in all the contributors

[2019-05-02 17:42] co16353sidak commented on #78
@alexkrolick please check

[2019-05-02 19:24] co16353sidak commented on #78
Everything seems to be in order now, all that is left is to create a separate issue for adding contributors, happy to make an issue for the same.
/cc: @alexkrolick

[2019-05-02 20:17] alexkrolick commented on #78
Feel free to address the bot in this thread, then we can close it all out

[2019-05-02 20:24] co16353sidak opened #102 "Main Issue for logging contributors on readme"
Hey Everyone, this issue will be now used to log in any contributors who contribute to the testing-library docs.

🎉 🎉 🎉

We have now configured the all-contributors bot for the same, and you can find all the documentation on how to use the bot to add contributors can be found [here](https://github.com/all-contributors/all-contributors)

a sample method on how to add contributors can be seen [here]

[2019-05-02 20:25] co16353sidak commented on #78
@alexkrolick I feel everything is done now, we can finally close this issue 🎉

[2019-05-02 22:19] #78 closed

[2019-05-03 01:05] kentcdodds opened #103 "Add docs for waitForElementToBeRemoved"
I just noticed it's missing from https://testing-library.com/docs/dom-testing-library/api-async and  https://testing-library.com/docs/guide-disappearance 😬

I should've added those docs but I forgot. Anyone want to add them? I'm currently low-bandwidth for the next while.

[2019-05-03 01:05] kentcdodds commented on #103
Here's the source code: https://github.com/testing-library/dom-testing-library/blob/master/src/wait-for-element-to-be-removed.js

[2019-05-03 01:25] Pklong commented on #103
I'd be happy to do this.

[2019-05-03 01:38] bcarroll22 commented on #102
I believe [this](https://allcontributors.org/docs/en/cli/usage#all-contributors-check) is probably the most reasonable way to catch up

[2019-05-16 14:14] bcarroll22 commented on #103
@alexkrolick we can close this, yeah?

[2019-05-16 14:25] bcarroll22 commented on #92
Coming back to this conversation, 3.0.0 was released yesterday. In my mind there are only 5 major differences in the final release:

1. DOM nodes don't exist, so return types are different
1. The `selector` option of queries is a filter function, not a CSS selector
1. `ByAltText` is `ByHintText`
1. `waitForDomChange` isn't there
1. `fireEvent` uses `NativeTestEvent` instead of browser `Event` (whi

[2019-05-16 14:51] bcarroll22 commented on #80
Still willing to do this, here's my struggle. This custom query in the page you linked is data-test-id, but that's included in the core now. Can you think of a good custom query as an example that isn't an implementation detail or an anti-pattern? If it's in the docs, you could assume folks are going to do it, and I don't want to steer anyone in the wrong direction.

[2019-05-16 14:53] kentcdodds commented on #80
Agreed. If it's a good query for anyone, it's probably a good query for everyone. If it's not a good query for everyone, then it's probably not a good query for anyone.

[2019-05-16 14:58] bcarroll22 commented on #80
Make sense to me.

So should we not expose the utilities to build custom queries at all, or leave it and make it undocumented/unsupported/unofficial?

[2019-05-16 15:24] kentcdodds commented on #80
I'd be curious to hear from people who use the feature actually. I never use the feature so I'm maybe not a good candidate for making a decision here.

[2019-05-16 18:36] #103 closed

[2019-05-16 18:42] alexkrolick commented on #80
I've used it for internationalization utils and I've seen other people trying to do that, too

[2019-05-16 19:01] bcarroll22 commented on #80
Oh that's cool! Is it possible to show a short version of what that looks like?

[2019-05-22 16:27] bjohn465 opened #116 "ByAltText examples seem incorrect"
**Describe the bug**
The example for `ByAltText` uses the following example markup:

[code]

The examples pass `/incredibles.*png$/i` to `getByAltText`, which seems incorrect. If we're trying to find the element by the value of the `alt` attribute, why would we include `png$` in the regular expression, since that's part of the `src` attribute and not the `alt` attribute?

**To Reproduce**
Steps to

[2019-05-22 16:55] kentcdodds commented on #116
You're right. That example is wrong. Would you be willing to update it?

[2019-05-22 17:02] bjohn465 commented on #116
I could put a pull request together.

[2019-05-22 22:50] #116 closed

[2019-05-31 18:27] kentcdodds opened #124 "Updates for the new scoped packages"
I believe most official packages are being migrated over to the scoped version and we need to update the docs to reflect this change.

Also, when talking about dom-testing-library, react-testing-library, and cypress-testing-library. I'm now referring to it as DOM Testing Library, React Testing Library, and Cypress Testing Library. The only time it should appear as `@testing-library/dom` is when we

[2019-05-31 18:36] afontcu commented on #124
up for it!

If I understood you correctly:

* rename `dom-testing-library` to `@testing-library/dom` if talking about the npm module.
* rename `dom-testing-library` to `DOM Testing Library` else.

and same thing with React, Cypress, and others (when migrated - not sure about the status. Vue is pending, for instance).

[2019-05-31 18:40] kentcdodds commented on #124
Correct.

I believe that React Native Testing Library and Jest Native are both already migrated as well 👍

[2019-05-31 18:40] kentcdodds commented on #124
Also, THANK YOU! :D

[2019-05-31 20:37] alexkrolick commented on #124
@afontcu thanks for taking this on. I think we can do RTL and the other ones at the same time rather than having both usages. Want to add tose to the PR if you're up for it?

[2019-06-01 05:46] afontcu commented on #124
@alexkrolick Sure, will do! I'll start with RTL, Cypress, and Vue.

[2019-06-03 11:48] afontcu commented on #124
So what else is missing to finally close this issue? :) I believe all references have been updated, both in text and code snippets.

[2019-06-03 12:45] kentcdodds commented on #124
Thanks! Let's go ahead and close it then. Your help is really appreciated!

[2019-06-03 12:48] kentcdodds commented on #124
Thanks so much for your help! I've added you as a collaborator on the project. Please make sure that you familiarize yourself with the code of conduct (we're using [the contributor covenant](http://contributor-covenant.org/)). You might also want to [watch the repo](https://help.github.com/articles/watching-repositories/) to be notified when someone files an issue/PR. Please continue to make PRs a

[2019-06-03 12:48] #124 closed

[2019-06-20 14:18] aaronmcadam opened #153 "Add a page of resources for migrating from Enzyme to RTL"
I think it'd be worth adding a page of links for people trying to migrate their tests from Enzyme.

I'd like to create this page, but I'm not sure where to put it, so I'll put the content here for now.

## Case Studies / Tutorials

* [My experience moving from Enzyme to react-testing-library](https://medium.com/@boyney123/my-experience-moving-from-enzyme-to-react-testing-library-5ac65d992ce)
* [Ho

[2019-06-20 16:22] kentcdodds commented on #153
I think this is a great idea! It would also be useful to have a page that compares enzyme to react testing library and makes a case for switching from enzyme to react testing library. This white people who want to convince their team can direct them to that post.

[2019-06-20 16:25] aaronmcadam commented on #153
@kentcdodds That's really good input, yeah. I think there are other nice things about RTL besides the user-focused testing ethos. For example, I really like the simpler and more obvious APIs and helpers. I wonder what other's favourite things about RTL are.

[2019-06-20 17:18] alexkrolick commented on #153
How about `Recipes > Migrating from Enzyme`?

[2019-06-22 08:59] afontcu commented on #153
That's a great idea! I'd love to use it as a blueprint to create a "Migrating from Vue Test Utils" recipe too

[2019-06-23 21:43] alexkrolick opened #163 "Add "testing modals" recipe to docs"
Modals and other elements that attach to the document root can create issues while testing. We should add a recipe for how to do it.

See also: https://github.com/testing-library/react-testing-library/issues/392

[2019-06-24 03:49] kentcdodds commented on #163
This may be helpful: https://github.com/kentcdodds/react-testing-library-examples/blob/master/src/__tests__/portals.js

[2019-06-24 10:13] Pklong commented on #163
I'd be happy to do this, but it it would be my **second** issue. Would that be okay?

[2019-06-24 19:42] alexkrolick commented on #163
@Pklong go for it

[2019-07-03 15:31] Hugofv opened #176 "SyntaxError: Unexpected identifier"
I'm have one problem with typescript:

`Test suite failed to run

    F:\hugo\snack\node_modules\react-swipe-component\lib\index.js:14
    import React from 'react';
           ^^^^^

    SyntaxError: Unexpected identifier

       7 | import Form from './components/Form';
       8 | import List from './components/List';

         | ^
      10 | import { connect } from 'react-redux';
      11 |

[2019-07-05 16:22] thomlom opened #178 "Options parameter is missing in prettyDOM function"
The documentation related to [prettyDOM](https://testing-library.com/docs/dom-testing-library/api-helpers#prettydom) is missing the third parameter: `options`.

It seems `prettyDOM` uses `prettyFormat` under the hood. The options we can pass to `prettyDOM` can be found [here](https://github.com/facebook/jest/tree/master/packages/pretty-format#usage-with-options) 🙂

[2019-07-05 22:14] alexkrolick commented on #176
Can you ask this question on https://spectrum.chat/testing-library?tab=posts?

[2019-07-05 22:14] #176 closed

[2019-07-06 11:37] afontcu commented on #178
Hi! Looks about right, the `options` parameter is accepted and extended [here](https://github.com/testing-library/dom-testing-library/blob/2397f644667bc6e65b9becfa8c1615eb285c7673/src/pretty-dom.js).

Would you like to submit a PR to add the missing option to the docs? 🙌

[2019-07-08 05:35] thomlom commented on #178
Sure, I can! 🙂
I'll do it in the day.

[2019-07-08 06:41] thomlom commented on #178
Quick update: the docs for `prettyDOM` states that the functions is defined as:

[code]

I was on the point of adding the options parameter when I found that the `options` type is also missing from the typings in [dom-testing-library](https://github.com/testing-library/dom-testing-library/blob/master/typings/pretty-dom.d.ts).

I'm going to open an issue on the `dom-testing-library` and will add th

[2019-07-09 01:59] Pklong commented on #163
Sorry that took so long, let me know what you think when you have a chance!

[2019-07-09 09:03] #178 closed

[2019-07-14 10:38] #163 closed

[2019-07-14 10:41] #80 closed

[2019-07-18 03:42] Agentkma opened #188 "React Testing Library - Full Example shows deprecated version of jest-dom/extend-expect"
**React Testing Library Example Code Snippet shows deprecated version of jest-dom/extend expect import**

The current Full Example code snippet shows:
import 'jest-dom/extend-expect'

BUT

that is the deprecated version of jest-dom/extend-expect AND should show

import { expect } from '@testing-library/jest-dom'
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://testing-library.co

[2019-07-18 07:38] afontcu commented on #188
Hi! 👋  Thanks for bringing this up. As you mentioned, newest version of jest-dom has been renamed to match the scoped package strategy, so docs need an update.

Would you like to submit a PR to update all references from `jest-dom/extend-expect` to `@testing-library/jest-dom/extend-expect`? 🙌

[2019-07-18 18:38] KevinAndersonXactly commented on #188
Hi, Yes I would and yes I see now the '@testing-library/jest-dom/extend-expect' is the proper way to import it...not as I noted in my issue.  I'm trying to get involved in the open source community and this project specifically and this would be a great way to start for me.... updating ALL the references as you mentioned.  Thanks very much.

[2019-07-19 08:59] afontcu commented on #188
Closed in #189

[2019-07-19 08:59] #188 closed

[2019-07-22 22:01] creatyvtype opened #190 "firstResultOrNull is not a function"
**Describe the bug**
In the docs, https://testing-library.com/docs/dom-testing-library/api-helpers, it lists
[code]
In updating from 'react-testing-library' v6 to '@testing-library/react' v8 and '@testing-library/dom' v5, this complains the function does not exist. I was able to get it working by looking at the original method in an older version and replicating it with:
[code]
But the docs on the

[2019-07-22 22:14] kentcdodds commented on #190
Yes, it should be removed from the docs.

[2019-07-27 18:17] #190 closed

[2019-07-30 16:58] alexkrolick opened #199 "Remove .firstChild from snapshot examples"
See https://github.com/testing-library/react-testing-library/issues/418#issuecomment-516502958

Using container.firstChild isn't necessary, it just removes the outermost element (ie document.body). But dialogs/modals/portals tend to be appended as siblings of the app root, so they get dropped from the snapshot.

[2019-07-30 22:27] Agentkma commented on #199
I'd like to work on this.  Just checking to be sure no one else is already doing so. Thanks

[2019-07-30 22:33] kentcdodds commented on #199
Go for it Kevin!

[2019-07-30 22:35] Agentkma commented on #199
Awesome, this is my 2nd open source contribution ever (and 2nd to this repo)...looking forward to many more :)

[2019-07-30 23:03] alexkrolick commented on #199
I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

[2019-08-06 12:56] Agentkma commented on #199
Hello, I see that my PR was merged , but I just noticed that the callback on the button on the fetch.js example component in React Testing Library example should have anonymous function call so we can pass the url prop to it..so can I'd like to fix that.  Can I just use this issue and create a new branch to do this? @kentcdodds or @alexkrolick ?  Thanks much.
![Screen Shot 2019-08-06 at 6 52 15 AM

[2019-08-06 14:03] kentcdodds commented on #199
Please make a new branch/PR! Thanks!

[2019-08-06 16:50] #199 closed

[2019-08-07 16:40] afontcu opened #207 "Implement textlint"
I suggest adding [textlint](https://github.com/textlint/textlint) to the docs. It is a natural text linting tool that would help us (1) provide a consistent style across docs (2) help keep new additions on track.

You can see a PR implementing textlint [here](https://github.com/vuejs/vuepress/pull/1745/files).

What do you think about it? I could open up a draft PR so we'd be able to discuss rules

[2019-08-07 17:08] alexkrolick commented on #207
I wouldn't mind seeing the diff for this. It would be nice to catch basic grammar and capitalization issues.

[2019-08-08 19:04] rphumulock opened #210 "Lacking of documentation on "toHaveAttribute""
toHaveAttribute was merged in but there is no documentation for it.

https://github.com/testing-library/react-testing-library/pull/44

- `react-testing-library` version:
- `react` version:
- `node` version:
- `npm` (or `yarn`) version:

Relevant code or config

[code]

What you did:

What happened:

Reproduction repository:

Problem description:

Suggested solution:

[2019-08-08 19:48] alexkrolick commented on #210
This is covered by `jest-dom`'s documentation

https://github.com/testing-library/jest-dom#tohaveattribute

https://testing-library.com/docs/ecosystem-jest-dom

[2019-08-08 19:48] #210 closed

[2019-08-09 20:13] kentcdodds opened #212 "Update all references to `cleanup-after-each` for React"
This file no longer exists and any reference to it should be removed.

Also, we should probably document the automatic behavior and how to avoid/disable it.

[2019-08-09 20:22] jacobrask commented on #212
Hm, why was it removed? No longer needed?

[2019-08-09 20:23] kentcdodds commented on #212
Correct. As of v9.0.0 it's automatic: https://github.com/testing-library/react-testing-library/releases/tag/v9.0.0

[2019-08-09 20:37] dustinmyers commented on #212
What are the use cases for disabling auto cleanup?

[2019-08-09 20:41] kentcdodds commented on #212
Great question @dustinmyers. There are no _good_ use cases for cleanup, but some people prefer to write their tests like this (taken from https://kentcdodds.com/blog/test-isolation-with-react):

[code]

It's poor testing practice, but it is something people like to do, and because having a workaround is pretty simple, having and documenting that workaround is necessary.

[2019-08-09 21:09] dustinmyers commented on #212
Do instances of `afterEach(cleanup)` also need to be removed from the documentation? Or just references to the `cleanup-after-each` file?

[2019-08-09 21:23] kentcdodds commented on #212
Yeah, those need to be removed from the docs as well.

It's not technically deprecated (you wont get any deprecation message for it), and it wont break anything (basically nothing will happen), but yeah, there's no reason for it now.

[2019-08-10 07:32] afontcu commented on #212
Closing thanks to #213

_(feel free to open a new issue/PR if we missed any reference to RTL's `cleanup()`!)_

[2019-08-10 07:32] #212 closed

[2019-08-10 12:13] afontcu commented on #102
I believe this can be closed, as all-contributors bot is handling the contribs praising?

[2019-08-10 12:15] afontcu commented on #153
Hi @aaronmcadam! Any progress on this? 😃

[2019-08-10 13:00] #102 closed

[2019-08-10 18:12] aaronmcadam commented on #153
@afontcu you're welcome to give it a shot

[2019-08-16 19:17] Agentkma opened #220 "add anonymous function with fetchUrl call and pass the url prop in React Testing Library example"
**Current Example code:**

![Screen Shot 2019-08-16 at 1 15 37 PM](https://user-images.githubusercontent.com/22228809/63192417-4fb50900-c028-11e9-845e-d0aed8a9134b.png)

_Proposing to change to_:

.....
onClick={()=> fetchGreeting(url)}
....

[2019-08-16 20:24] alexkrolick commented on #220
OK, do you want to make a PR for this change?

[2019-08-16 21:08] Agentkma commented on #220
Hi @alexkrolick , yes I'd like to make a PR for this change.  Thank you.

[2019-08-29 12:43] saschwarz opened #230 "(docs) Remove vue setup document global config section"
**Describe the bug**
With the deprecation of the `cleanup-after-each.js` the documentation should be updated to remove the section referring to it.

**To Reproduce**
See https://github.com/testing-library/testing-library-docs/blob/master/docs/vue-testing-library/setup.md

**Expected behavior**
Delete the entire `Global Config` section

**Screenshots**

**Desktop (please complete the following info

[2019-08-29 12:47] afontcu commented on #230
Hi! 👋 You are totally right – I believe the whole "Setup" section could go away.

Would you like to submit a PR to fix it? 😄

[2019-08-29 14:05] saschwarz commented on #230
@afontcu I'll take a crack. I was thinking there might be external links to that page so maybe it shouldn't be deleted?

[2019-08-29 16:36] afontcu commented on #230
Hm, I'd say it's unlikely but yeah could happen. Not sure what should we add there, thou. Maybe an explanation of how to create a [custom renderer](https://testing-library.com/docs/native-testing-library/setup#custom-render)?

[2019-08-30 00:02] saschwarz commented on #230
For now, I just deleted that one section. I'd think custom renderer might go in the FAQ page. I also couldn't find descriptions of registering filters, components, etc. on the localVue instance created by `render` using the callback function. But again those seem to be FAQ things.

I don't see any harm in leaving the settings page around "for future use" :) It also maintains symmetry with the othe

[2019-08-30 05:36] afontcu commented on #230
Nice!

About filters, components, and so on: for the time being, examples are being written as tests in [the tests directory of the repo](https://github.com/testing-library/vue-testing-library/tree/master/src/__tests__). So we could add more of them there.

But yeah, a FAQ section titled "How can I add X, as in Vue Test Utils?" sounds like a good idea. Also I'd love to have a "Migrating from Vue T

[2019-08-30 05:43] #230 closed

[2019-09-01 11:13] aryzing opened #236 "Unclear example for `ByLabelText`"
**Describe the bug**
The example provided in the [`ByLabelText`](https://testing-library.com/docs/dom-testing-library/api-queries#bylabeltext) section does not seem to match the surrounding description

**To Reproduce**
If you go to the link above, the surrounding description states that

yet there is no input node in the following part of the code snippet in the example

[code]

**Expected behavi

[2019-09-05 21:45] alexkrolick opened #249 "Show "document.body" for snapshots instead of "container""
If you have modals or other elements that append to the document root, snapshotting other manual DOM traversals starting with `container` will not find those elements because container is appended as a child of the root:

https://github.com/testing-library/react-testing-library/blob/master/src/pure.js#L39

Earlier we removed ".firstChild" from some docs but that's not enough to fix the issue

[2019-09-16 15:37] Samitier opened #258 "Broken links for vue-testing-library examples"
**Describe the bug**
There are 4 broken links in `/docs/vue-testing-library/examples#more-examples`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to vue-testing-library -> examples -> more examples
2. Click on one of the links of the section
3. They redirect to a github 404

**Expected behavior**
Go to the expected file in the repository

[2019-09-16 15:41] #258 closed

[2019-09-16 15:53] afontcu commented on #236
Looks like it was copied&pasted from somewhere else, and nobody noticed.

Would you like to submit a PR to fix this? :)

[2019-09-24 13:11] HTMLhead opened #269 "URL does not exist"
**Describe the bug**

[This](https://testing-library.com/docs/cypress-testing-library/intro#examples) page has a simple example link but URL is does not exist

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'https://testing-library.com/docs/cypress-testing-library/intro#examples'
2. Click on
![스크린샷 2019-09-24 오후 9 55 41](https://user-images.githubusercontent.com/40166539/65514

[2019-09-24 15:31] afontcu commented on #269
Hi! By all means, feel free to send the PR :) Nice catch!

[2019-09-25 05:35] #269 closed

[2019-09-25 05:36] HTMLhead commented on #269
The issue is resolved, so close it.

[2019-10-30 21:09] pedroapfilho opened #314 "Reorganize docs?"
I know that we use Docusaurus, but as the list of different documentations grows, it's hard to keep adding new items here, and separate the documentation as it has to be.

I thought about we create a Gatsby Theme for it, one with all the correct parts for each different library, more focused on the lib itself, and not in a general way (as a React developer, I don't need to see the Vue testing-libr

[2019-10-30 22:02] kentcdodds commented on #314
What do you think @alexkrolick?

[2019-10-30 22:02] alexkrolick commented on #314
I don't want to maintain a Gatsby site, Docusaurus works pretty well for everything we need

[2019-10-30 22:04] alexkrolick commented on #314
Open to discussing a better organizational scheme though, as it seems this question isn't really about Gatsby per-se but the overall hierarchy and overlap between the libraries

[2019-10-31 05:03] afontcu commented on #314
This is something I feel should be discussed at some point. Docs have grown organically as we've been adding features, and they could use some redesign. For instance, all common queries from DTL could (should?) have a single source of truth, and so on.

I agree, thou, that Docusaurus could still fit our needs.

anyway, my two cents :)

[2019-10-31 09:51] pedroapfilho commented on #314
Alright about Docusaurus, I saw some nice features there.

But I think we could reorganize the docs, make them more "assertive".

[2019-11-11 16:52] Pablosky12 commented on #80
I would love to know if it's possible to pass props to the wrapper component, I couldn't find an example anywhere. This would make the feature way more useful since you could be able to pass a custom state to a redux wrapper for example

[2019-12-04 22:38] kylemh opened #333 "Clarity on FAQ entry"
https://github.com/testing-library/testing-library-docs/blob/master/docs/react-testing-library/faq.md

Are you advocating for not using `act`, or is this in response to seeing the warning despite having correct `act` usage?

[2019-12-08 04:40] kentcdodds commented on #333
I'm advocating for not using `act` directly because you shouldn't need to in most cases if you write your tests the best they can be.

[2019-12-08 04:40] #333 closed

[2019-12-09 07:10] nickmccurdy opened #343 "Add eslint-plugin-jest-dom page"
There's an ecosystem page in the sidebar for the related [eslint-plugin-testing-library](https://github.com/Belco90/eslint-plugin-testing-library) package, but not [eslint-plugin-jest-dom](https://github.com/testing-library/eslint-plugin-jest-dom).

[2019-12-09 08:03] afontcu commented on #343
True that! Fancy to set up a PR? :)

[2019-12-09 08:42] nickmccurdy commented on #343
I'm not sure what to put there. @benmonro any suggestions?

[2019-12-09 14:14] benmonro commented on #343
Sure!  Would love a PR.  All the docs are in the readme so maybe just a link?

[2019-12-09 23:39] #343 closed

[2019-12-13 18:59] markerikson opened #352 "Remove outdated references to `get*` APIs in Cypress page"
**Describe the bug**

The Cypress page says:

Per https://github.com/testing-library/cypress-testing-library/releases/tag/v5.0.0 , the `get*` APIs were removed.  However, TL/C does support the `find*` APIs.

**Expected behavior**

The docs page should only reference the APIs that do exist.

[2019-12-13 20:57] #352 closed

[2019-12-15 17:52] jermainezhimin opened #361 "React Router Test Example Fails"
- `react-router-dom` version: 5.1.2
- `history` version: 4.10.1
- `jest` version: 24.9.0
- `react-testing-library/jest-dom` version: 4.2.4
- `react-testing-library` version: 9.4.0
- `react` version: 16.12.0
- `node` version: 12.13.0
- `yarn` version: 1.19.1

### Relevant code or config:

[code]

[code]

### What you did:

Copied example tests from https://testing-library.com/docs/example-react-rou

[2020-01-14 21:27] ahmdtalaat opened #356 "react-hooks-useReducer navigation"
**Describe the bug**
In the Examples sidebar section, you should see **'useReducer'** after 'React Context'. and when you navigate to 'React Context' and hit Next, you get a 'Page Not found'.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://testing-library.com/docs/example-react-context'
2. Scroll down to 'Navigations buttons'
3. click on 'Next'
4. See error

**Expected behavio

[2020-01-14 22:37] #356 closed

[2020-01-19 06:43] Gauravsaha-97 opened #360 "Migrate Website to Docusaurus 2 Alpha"
Hi there! The Docusaurus team is currently developing Docusaurus 2 and are almost done with an MVP that doesn't include translations and versioning features, which means there's feature parity with your website's current usage of Docusaurus.

Docusaurus 2 brings about many improvements:

- Client-side rendering with prerendering (site renders without JavaScript!)
- More flexible appearance - Custo

[2020-01-19 07:50] alexkrolick commented on #360
I'm happy waiting until the stable version is released

[2020-01-19 08:48] eps1lon commented on #360
Sounds awesome. I have little experience the docs infrastructure so I won't be able to assist much with questions why certain decisions were made.

I think having a long living pull request that gets frequently updated would work. I don't think we want to deploy an alpha but having a netlify deploy preview would help ironing out issues with an unstable release.

:heart_eyes:

[2020-01-22 02:46] jermainezhimin commented on #361
Yeah! I can make that change

[2020-01-22 04:47] jermainezhimin commented on #361
The page has newer content than repo, closing this issue.

[2020-01-22 04:47] #361 closed

[2020-01-24 15:59] wolfhoundjesse opened #367 "Algolia search should display which API is referenced"
**Is your feature request related to a problem? Please describe.**
When I get a list of Algolia search results, it isn't clear which result belongs to the API I am using.

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/13468509/73081059-ec5fba80-3e94-11ea-8818-d076f3692115.png)

[2020-01-28 19:38] kentcdodds commented on #367
Hi @wolfhoundjesse! Thanks for this. I'm thinking this may be an issue for https://docusaurus.io/ which is what we use for our docs.

Not sure what we can do in this repo 😬

[2020-01-28 19:38] #367 closed

[2020-02-05 20:35] kormbrek-rally opened #389 "fireEvent change event not fired for input with type date"
This is quite similar to testing-library/react-testing-library#532 and testing-library/react-testing-library#544. But different from those, it is happening with a present and valid value for the type attribute of the input element.

- `@testing-library/react` version: 9.4.0
- `react` version: 16.9.3
- `node` version: 8.17.0
- `npm` (or `yarn`) version: npm 6.13.4
- `material-ui/core` 3.9.2

### Re

[2020-02-27 00:45] alexkrolick opened #381 "More examples for FindBy* queries"
Currently, there aren't really any code samples showing the `findBy` variants of the queries. Would be nice to make the async queries more prominent, whether in the Recipes section or under the usage examples of the query docs.

[2020-02-27 00:47] alexkrolick opened #382 "Make it easier to find Query documentation"
I think we can pull up Queries from DTL into a higher-level nav section, to make it easier to jump straight to usage.

[2020-02-27 00:48] alexkrolick commented on #92
@bcarroll22 still interested in pursuing this?

[2020-02-27 00:48] alexkrolick commented on #20
TODO: finish this  😄

[2020-02-28 16:41] lmon opened #384 "Docs Are incorrect for Cypress -- bylabeltext"
- `DOM Testing Library` version: 5.3.0
- `node` version: v12.6.0
- `npm` (or `yarn`) version: 1.17.3

### Relevant code or config:

[code]
### What you did:

Ran the following command `cy.getByLabelText('username').should('exist');`

### What happened:

In console this error was displayed
[code]

### Reproduction:

### Problem description:

Failure

### Suggested solution:

Following the recommend

[2020-02-29 04:58] iAziz786 opened #386 "Add docs for `queryFallbacks` for *ByRole in dom-testing-library"
As dom-testing-library now has support for [`queryFallbacks`](https://github.com/testing-library/dom-testing-library/pull/418/), I'll add it into the docs so that others will be aware of it. As [mentioned](https://github.com/testing-library/dom-testing-library/issues/411#issuecomment-565292525) by Kent, I'll add this relevant paragraph as part of it and also how to use it.

Please let me know do I

[2020-03-05 21:11] thatzacdavis opened #395 "Examples In Docs Site Use Render Destructuring Instead of `screen` Import"
**Describe the bug**
As mentioned in the conversation regarding ReactTraining/react-router#7169 -- the README is up to date with the current guidance on how to use `screen` instead of destructuring the `render` function.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://testing-library.com/docs/react-testing-library/example-intro
2. See that the render function is being destructu

[2020-03-10 10:37] mustafa-abdelmogoud opened #399 "useReduce with Examples page"
**Describe the bug**
useReduce test case https://testing-library.com/docs/example-react-hooks-usereducer is falling.
I am not sure if this is the intended behavior.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://testing-library.com/docs/example-react-hooks-usereducer
2. Scroll down to test case

**Expected behavior**
I accept the test to pass.

[2020-03-10 15:56] #399 closed

[2020-03-10 15:56] kentcdodds commented on #399
Thanks. Fixed!

[2020-03-10 16:20] mustafa-abdelmogoud commented on #399
@kentcdodds
Thanks for your fast reply.

I think, you need to update the second assertion because it's still falling.
current assertion
` expect(getByText('Confirmed')).toBeInTheDocument()`
expected assertion
`expect(getByText("Confirmed!")).toBeInTheDocument();`

[2020-03-11 01:27] kentcdodds commented on #399
Thanks! Fixed for good this time :)

[2020-03-13 19:14] benmonro opened #402 "snapshot in a waitFor doesn't seem to work right in 7.x"
- `dom-testing-library` version: 10.x
- `node` version: 12.14
- `npm` (or `yarn`) version: 6.13

Relevant code or config

when using `waitFor` with `expect().toMatchSnapshot()` I've seen some strange behaviors.

What you did:
[code]
What happened:
![image](https://user-images.githubusercontent.com/399236/76646716-b8118d80-6518-11ea-8fae-a2fdcc03d8cc.png)
![image](https://user-images.githubusercont

[2020-03-13 19:19] alexkrolick commented on #402
Inline is different than "regular" though; you'd get the same thing in a `test.each`

[2020-03-13 19:19] kentcdodds commented on #402
Oh, fair point. Moving back 😅

[2020-03-15 05:25] benmonro opened #403 "docs are showing `wait` instead of `waitFor`"
**Describe the bug**
A clear and concise description of what the bug is.
docs are showing `wait` instead of `waitFor`
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your prob

[2020-03-17 16:27] panayotoff opened #408 "Missing typings - waitFor"
Hi,
I'm using testing-library/dom@6.14.0 and testing-library/react@9.1.3 . In the documentation is said that **waitForDomChange** is deprecated and **waitFor** should be used instead [link](https://testing-library.com/docs/dom-testing-library/api-async#waitfordomchange-deprecated-use-waitfor-instead) However, the TypeScript typings does not export **waitFor** and it cannot be imported unless local

[2020-03-17 16:50] eps1lon commented on #408
Already in the pipeline over at `@types/`: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/43102

[2020-03-17 16:50] #408 closed

[2020-03-20 18:50] kentcdodds opened #409 "Document confusing behavior with waitForElementToBeRemoved"
So, I added this feature:

[code]

Both work, but the first I think is easier most of the time.

But I just learned that in React applications (and likely other frameworks) the DOM nodes aren't always removed, rather they're updated. So, that cool new feature won't always work as you might expect. I think we should probably document this somewhere.

[2020-03-20 19:05] eps1lon commented on #409
Do you have an example for that?

[2020-03-20 20:01] alexkrolick commented on #409
yeah, wrangling references to nodes like that is how you end up with wrapper.update() in Enzyme

[2020-03-20 20:20] alexkrolick opened #410 "Update React-Intl recipe"
- Setup changes:
  - mention that Node 12 supports Intl out of the box
  - mention ICU flags needed to fully switch language
- RTL changes:
  - show use of `wrapper` option for the intl provider
  - show how to make a custom render function with the wrapper
- Make a corresponding PR back to react-intl site https://github.com/formatjs/react-intl/blob/master/docs/Testing-with-React-Intl.md#react-tes

[2020-03-20 23:54] kentcdodds commented on #409
I ran into this during my livestream. It was a DOM node where I was rendering `<h1>Loading title</h1>` and when the title loads I change it to `<h1>The Title</h1>`

[2020-03-21 00:03] eps1lon commented on #409
Hmm I guess the problem is that removal is actual an implementation detail? What we're actually asking is: "Wait until this selector no longer matches an element". In which case `await waitForElementToBeRemoved(() => screen.getByText('foo'))` is easier to implement. We have to find a smart observer that observes any change that the might affect the element matched. I think the easiest way is to li

[2020-03-21 00:11] kentcdodds commented on #409
Yeah, I'm thinking that the recommended (and primary documented) approach is the callback approach and people can pass a DOM node if that works for them. 🤷‍♂️

[2020-03-27 20:32] #395 closed

[2020-04-01 19:35] khalidwilliams opened #419 "Dom Testing Library 'fireEvent[eventName]' docs have a link to incorrect page"
**Describe the bug**
In the docs for [`fireEvent[eventName]`](https://testing-library.com/docs/dom-testing-library/api-events#fireeventeventname), there is a link to `src/events.js` for a list of all events this method can be used for. This list used to list in `dom-testing-library/src/events.js`, but it seems to have moved to [`dom-testing-library/sr/events.js`](https://github.com/testing-library

[2020-04-02 06:22] nainardev opened #422 "Migrate to Docusaurus 2"
- `@testing-library/react` version:
- `react` version:
- `node` version:
- `npm` (or `yarn`) version:

Relevant code or config

[code]

What you did:

What happened:

Reproduction repository:

Problem description:

Suggested solution:

[2020-04-02 17:42] alexkrolick commented on #422
Duplicate of #360

[2020-04-02 17:42] #422 closed

[2020-04-05 07:38] MatanBobi commented on #410
Hi @alexkrolick, I can take this one if it's not assigned to anyone yet :)

[2020-04-06 01:44] alexkrolick commented on #410
@MatanBobi go ahead

[2020-04-06 17:12] MatanBobi commented on #410
@alexkrolick Regarding the corresponding PR to React-Intl, I started doing that and then thought maybe it's best to keep "one source of truth" and just put a link from there to here?
Felt pretty weird copying the same example.. Wdyt?

[2020-04-06 18:40] alexkrolick commented on #410
It's possible our recommendations may diverge, so a link is good, but the other examples on their side are inlined and I think it's easier for someone already on their site to maintain context and stay on the page if possible.

[2020-04-07 06:28] MatanBobi commented on #410
I agree.. I updated the docs with the inline examples (without the mocking explanation since it wasn't there to begin with), kept the link and removed one deprecated link.

[2020-04-08 01:42] #419 closed

[2020-04-08 15:39] MatanBobi commented on #410
@alexkrolick I would love your opinion regarding the ICU..
On Node 12, the default config is `--with-intl=small-icu` meaning it includes a subset of ICU data (typically only the English locale).
On Node 13, the default config is `--with-intl-full-icu` meaning it includes the full set of ICU data.

Do we want to provide an explanation on how to add ICU's at runtime? This is done by the package `ful

[2020-04-08 18:24] alexkrolick commented on #410
I'd explain all 3 options, and also that if you don't change the language, you don't need additional ICU data. Part of this documentation is for people using React Intl directly instead of mocking it, but not testing internalization per se.

[2020-04-23 22:43] Izhaki opened #495 "Drag example"
I though I'll share this here as it may help others trying to achieve the same thing.

JSDOM [doesn't seem to support `getBoundingClientRect`](https://github.com/jsdom/jsdom/issues/1590), so this will only work on real browser.

# Usage

[code]

# Kapture

![slider-testing-lib](https://user-images.githubusercontent.com/880132/80156530-0efc8f00-85bc-11ea-902c-c4e0f11a2579.gif)

# Code

[code]

Rela

[2020-05-19 23:36] nareshbhatia opened #469 "Emphasize most common uses of fireEvent"
- `@testing-library/dom` version: 7.5.7
- Testing Framework and version: Jest 26.0.1

- DOM Environment: jsdom 16.2.2

### Relevant code or config:

[code]

### What you did:

I was trying to right-click on an element in my test using `fireEvent.click(element, { button: 2 })`.

### What happened:

No event was fired.

### Reproduction:

Please see code above. The click handler is called only twice

[2020-05-21 15:12] spikebrehm opened #470 "Linebreaks missing in code examples"
The code examples on the [`/docs/dom-testing-library/api-queries`](https://testing-library.com/docs/dom-testing-library/api-queries) page are being rendered without linebreaks. I was able to verify that the source markdown page [`api-queries.md`](https://github.com/testing-library/testing-library-docs/blob/master/docs/dom-testing-library/api-queries.md) does have the linebreaks, so I assume it's a

[2020-05-25 18:27] MatanBorenkraoutNielsen commented on #470
This doesn't seem to reproduce on my environment:
![image](https://user-images.githubusercontent.com/54261964/82835955-276b0c80-9ece-11ea-95c1-823ea67813f9.png)

Tested on:
Mac OS X
Chrome 83.0.4103.61
Firefox/75.0
Safari Version/13.1

[2020-05-25 18:28] MatanBobi commented on #470
This doesn't seem to reproduce on my environment:
![image](https://user-images.githubusercontent.com/54261964/82835955-276b0c80-9ece-11ea-95c1-823ea67813f9.png)

Tested on:
Mac OS X
Chrome 83.0.4103.61
Firefox/75.0
Safari Version/13.1

Is this still an issue @spikebrehm?

[2020-05-25 18:36] MatanBobi commented on #403
Hi @benmonro, can you please elaborate on this one?
The docs state that `wait` is deprecated and we should use `waitFor` instead..
https://testing-library.com/docs/dom-testing-library/api-async#wait-deprecated-use-waitfor-instead

And the `waitFor` is the first API shown in the Async Utilities:
https://testing-library.com/docs/dom-testing-library/api-async#waitfor

Would love it if you can elabora

[2020-05-25 18:40] MatanBobi commented on #382
Hi @alexkrolick, where would you think this section fits?
Under the Getting Started section or as a new section before the Frameworks section?

[2020-05-25 18:45] MatanBobi commented on #384
Hi @afontcu, I think we can close this issue since it looks like this is already resolved by @NicholasBoll in the docs:
https://testing-library.com/docs/cypress-testing-library/intro#usage
(Even with a note stating `get*` queries are not supported)

Thanks!

[2020-05-25 18:49] benmonro commented on #403
It's been a couple months but I believe the docs were just a bit out of date and showing wait when they should have been showing waitFor

[2020-05-25 18:50] MatanBobi commented on #403
Looks like they are aligned now so I think we can close this one, wdyt?

[2020-05-25 19:12] benmonro commented on #403
Sure

On Mon, May 25, 2020 at 11:51 AM Matan Borenkraout <notifications@github.com>
wrote:

--
Ben Monro
Software Developer

[2020-05-25 19:48] #403 closed

[2020-05-26 14:45] spikebrehm commented on #470
@MatanBobi yes it does seem to still be an issue. I still see this rendering bug here:

https://testing-library.com/docs/dom-testing-library/api-queries

In the "ByLabelText" section. Do you see it?

[2020-05-29 15:21] sarahdayan commented on #314
Hi there! I've been using Testing Library with React and Preact for about six months, which has allowed me to use the documentation extensively. The library is fantastic, but I think the documentation isn't always helpful.

Here's a non-exhaustive summary of what I've observed when using the docs:

## Multi-flavor website

As @pedroapfilho said, when you're using the library for React, you don't n

[2020-05-29 17:11] kentcdodds commented on #314
I'm a huge fan of making the documentation better and less confusing. I totally understand that it is a little disorganized and could be improved.

Unfortunately I don't personally have bandwidth to work on this, but I'm happy to enable anyone who wants to give it a go. I'll give commit access to anyone who makes a solid PR or helps in reviewing PRs that make improvements to the docs in this way.

[2020-05-30 13:21] kettanaito opened #482 "Consider showcasing "msw" package for API mocking"
## What

I'd like to suggest to use [Mock Service Worker](https://github.com/mswjs/msw) in test examples that concern API mocking.

## Why

- MSW uses a declarative API to describe requests that should be mocked.
- MSW captures all outgoing network communication on both client and server. It also runs in a fall-through mode, which means unrelated requests are left intact.
- MSW utilizes [Service W

[2020-05-30 15:19] kentcdodds commented on #482
Big fan 👍

[2020-05-31 09:45] alexkrolick commented on #314
- I think it would be good to do this as part of exploring a monorepo for the packages, to make it easier to update downstream packages and docs all at the same time. I don’t think fragmenting further by site will be very nice to maintain
- Search probably won’t be that simple since it’s one big index across all the md files, but it’s worth looking into
- Docusaurus v2 has MDX support which might

[2020-05-31 13:11] kentcdodds commented on #314
On that last point, I don't think we need to document the base queries as much. And I don't think we need to document the bound queries much either. Let's just document `screen` and then it's much easier. At that point, the only difference between the libraries is the way you get stuff on the screen.

[2020-06-01 06:53] kettanaito commented on #482
It turned out that the "React Testing Library > Example" is the only page that illustrates API communication. I've issued a pull request with the suggested changes, would be thankful if somebody could take a look.

[2020-06-01 09:07] afontcu commented on #314
Hi @sarahdayan! Thanks for the feedback ❤️ I'm up for some docs revamping!

To recap a bit; can we build this in an incremental fashion? I don't have the bandwidth to work on a full revamp for docs either, but I feel there are several low-hanging fruit that we could tackle:

- Unify "Queries" pages.
- Collect "Best Practices". For the time being, it could be a list of posts/resources that the Test

[2020-06-01 09:20] pedroapfilho commented on #314
I'm loving this thread ❤️

Here it goes some ideas:

- We could implement the search with Algolia (https://www.algolia.com/for-open-source/)
- We should migrate to Docusaurus v2, the benefit is significant, and the work is not that big of a deal for us (https://v2.docusaurus.io/docs/migrating-from-v1-to-v2)
- We could create an easy way to collect best practices.

[2020-06-01 10:05] sarahdayan commented on #314
@pedroapfilho You're already using Algolia DocSearch, and applying for AOS will probably get you redirected to DocSearch (which is the go-to for open source docs). If there's any limitation with DocSearch that you've experienced let me know, I can definitely help!

@afontcu Definitely would love to help incrementally, a full revamp is probably impossible as we all have busy lives 🙂 Your action poi

[2020-06-01 10:50] MatanBobi commented on #314
Regarding the migration of Docusaurus to v2, It looks like V2 is in alpha for a lot of time now and is stated as stable so I think this can be a good step to start implementing it.
Another thing, there's also an open issue about this migration specifically so I'll just reference it here (https://github.com/testing-library/testing-library-docs/issues/360).

About monorepo, I believe that moving to

[2020-06-02 18:36] afontcu commented on #314
Sure, let's do this! 🚀  I wonder if @kentcdodds could set up a github project within this repository, so that we don't need additional tools :) If not possible, I'll open up an issue to track progress and related issues/PRs.

[2020-06-02 18:43] kentcdodds commented on #314
Projects enabled 👍

[2020-06-02 20:37] JimmayVV opened #484 "Add Version Numbers to Library Interfaces"
**Is your feature request related to a problem? Please describe.**
I would love to be able to look at each documented interface of a library and learn which version of the library first supported it. The testing library libraries evolve very quickly, and I'd love to learn just by looking at the documentation which version of the library first supported the interface.

As an example, the `screen` i

[2020-06-02 21:29] afontcu opened #485 "Unify "Queries" page"
There should be a single source of truth for queries.

Current scenario: each flavor has its own Queries page. It is hard to keep them updated, and also it bloats the sidebar and search results.

Desired scenario:
* A single, properly structured Queries page, detached from DOM Testing Lib.
* Also with content from https://testing-library.com/docs/guide-which-query
* Removal of "flavored-based" que

[2020-06-02 21:30] afontcu opened #486 "Add "Best practices" page"
Quoting Sarah Dayan:

For the time being and to keep it attainable, it could be a list of posts/resources that the Testing Library shares as The Proper Way™️ of using the library.

We should check if content from Learning (https://testing-library.com/docs/learning) is still valid and worth mentioning nowadays.

[2020-06-02 21:33] afontcu opened #487 "Migrate to Docusaurus v2"
https://v2.docusaurus.io/docs/migrating-from-v1-to-v2

Looks like Docusaurus v2 has some cool features. Even though it is in beta, their releases docs are pretty informative so I'd go for it: https://github.com/facebook/docusaurus/releases

[2020-06-02 21:35] afontcu opened #488 "Discussion: Reduce flavored pages (React, Vue, Cypress,…) to its bare minimum?"
I wanted to know your opinion on reducing each flavor section, so that we have some "big" pages about queries, common use cases, and so on, and then other React/Vue/Cypress/Svelte pages with the specifics for each framework.

All implementations are quite similar, so we could have a heading for each big difference with an example.

I'm not 100% sure this is the best approach, so feel free to sugge

[2020-06-02 21:39] afontcu commented on #314
There we go! https://github.com/testing-library/testing-library-docs/projects/1

Just copy&pasted some stuff that we came up with in this thread. There's a lot of other stuff that could be improved, so feel free to suggest new ideas :)

[2020-06-02 21:51] afontcu commented on #470
I also see it properly rendered (also Mac OS X and latest versions of Chrome and Firefox).

@spikebrehm what's your OS+Browser combination?

[2020-06-02 21:54] #384 closed

[2020-06-02 21:55] afontcu commented on #382
Related: https://github.com/testing-library/testing-library-docs/issues/485

Should I close one of the two? Just opened up the new one when I set the GitHub project, didn't notice this issue 😇

[2020-06-02 21:58] afontcu commented on #207
https://github.com/testing-library/testing-library-docs/pull/209#issuecomment-637828124

[2020-06-02 21:58] #207 closed

[2020-06-02 22:00] afontcu opened #489 "Unify "Async utilities" page"
Same thing as https://github.com/testing-library/testing-library-docs/issues/485.

Async utilities are mostly "universal", so they could live above DTL docs.

[2020-06-02 22:01] afontcu opened #490 "Unify "Firing Events" page"
Same thing as #485.

Event firing utilities are mostly "universal", so they could live above DTL docs.

[2020-06-02 22:04] afontcu commented on #488
Maybe docs for frameworks could be as simple as Cypress' https://testing-library.com/docs/cypress-testing-library/intro

[2020-06-02 22:05] afontcu commented on #386
Looks like it was closed in #418. Thanks!

[2020-06-02 22:05] #386 closed

[2020-06-02 22:08] afontcu commented on #485
Should content from https://testing-library.com/docs/guide-which-query also live in this very same page?

[2020-06-02 22:42] pedroapfilho commented on #314
@afontcu is it possible to assign tasks to people on GitHub Projects? So we don't work on the same thing. I would like to make the update to Docusaurus v2, for example.

[2020-06-03 04:54] MatanBobi commented on #487
I've seen @pedroapfilho wanted to work on this one, I'd be glad to contribute to this also :)

[2020-06-03 04:54] MatanBobi commented on #490
I'm up for this one :)

[2020-06-03 05:00] MatanBobi commented on #485
IMO yes, there's already a link to that page within the [queries section](https://testing-library.com/docs/react-testing-library/cheatsheet#queries) so why not just put it there at the top or bottom whatever we decide based on the importance we believe it has..

[2020-06-03 05:09] MatanBobi commented on #488
I think that having one page per framework is a great idea, but IMO looking at React framework as an example, it has some good knowledge I believe shouldn't be removed, especially within the FAQ and Setup section.
I do agree that most users won't read the "advanced" part but I think they do have an impact an affect.
Maybe a base page and an advanced one can reduce the amount of pages, still not su

[2020-06-03 05:11] MatanBobi commented on #360
@afontcu Maybe we can close this one and manage this task within https://github.com/testing-library/testing-library-docs/issues/487

[2020-06-03 07:07] afontcu commented on #485
Yeah, def. This is aligned with making the documentation less API-based and more focused on user needs 🙌

[2020-06-03 07:09] afontcu commented on #360
yeah, makes sense! Both issues are essentially the same but the other one is already linked to the project, so I'm closing this :) thx!

[2020-06-03 07:09] #360 closed

[2020-06-03 07:16] afontcu commented on #314
@pedroapfilho looks like assigning people to the issue does the job 🎉 :

![image](https://user-images.githubusercontent.com/9197791/83607041-d2d52a80-a57a-11ea-8fdb-c3cc008415b1.png)

[2020-06-03 10:15] sarahdayan commented on #314
Awesome! I'll assign myself to a task and will tackle it later this week if that's okay 🙂

[2020-06-03 10:15] sarahdayan commented on #314
Awesome! Feel free to assign me to any task @afontcu (I don't think I can do it myself), I'll tackle it later this week.

[2020-06-03 10:32] pedroapfilho commented on #487
Hey Matan, go for it then, I can pick another item!

[2020-06-03 10:45] MatanBobi commented on #487
@pedroapfilho That's alright, I have one already :)
I'll finish with that one and then continue.. You can have it, thanks!

[2020-06-03 11:03] afontcu commented on #314
Oh, I thought you could 😮 . No problem, thou. Do you want to tackle unifying queries page #485? seems pretty fundamental and would set a path for upcoming pages 🙌

[2020-06-03 11:32] sarahdayan commented on #314
LGTM!

[2020-06-03 11:32] sarahdayan commented on #485
Up for it!

[2020-06-04 14:02] #482 closed

[2020-06-04 14:12] kentcdodds commented on #482
Oh the readme on react testing Library is mocking fetch. And the examples repo should probably be updated too: https://github.com/kentcdodds/react-testing-library-examples

Want to update those? They can basically be the same as this was

[2020-06-04 15:18] kettanaito commented on #482
@kentcdodds will do! Thanks for letting me know.

[2020-06-04 15:24] tylerthehaas opened #491 "Document mocking best practices with nextjs"
I really like the change to recommend msw as the way to mock api requests however with nextjs there are some conventions that nextjs picks up on to make things happen server side. This is done by looking for a function called getServerSideProps (at least in the latest version). I am wondering if we can add some documentation to tell people the best way to mock this.

I think the best way to test t

[2020-06-04 15:33] afontcu commented on #491
Hi! Thanks for filling this in 😃

Even though I'm not well-versed in nextjs, I'm not 100% sure this is something that belongs to Testing Library documentation? What I mean is that it looks like a specific setup issue, which has no direct relationship with React Testing Lib.

[2020-06-04 15:46] kentcdodds commented on #491
Hi @tylerthehaas! I'd be curious to hear what @kettanaito has to say on this matter as well.

[2020-06-04 17:02] #470 closed

[2020-06-05 18:18] tylerthehaas commented on #491
@afontcu thanks for your response to my question! You may be right that it is something that is outside the scope of testing lib. But I do believe that the purpose of documentation is to make it as easy as possible to get started using the library as possible. Looking at @kettanaito example on the nextjs repo he did a really good job of making a comprehensive example. Do you think it would at leas

[2020-06-07 19:12] alexkrolick commented on #382
Either way, you can close one as a dupe now or close both in one PR later

[2020-06-07 19:15] alexkrolick commented on #486
My only comment here is that 3rd party content becomes stale quickly, so we should try to avoid relying on it too much

[2020-06-07 19:15] alexkrolick commented on #484
Good idea. The Nodejs docs do that.

[2020-06-08 05:51] afontcu commented on #382
Cool! Closing this one as the other is already linked to project :) just to make sure we don't split conversations.

cheers!

[2020-06-08 05:51] #382 closed

[2020-06-08 23:06] Izhaki commented on #495
Should I? This is (real) browser only and is very implementation oriented.

Where would you add it?

[2020-06-09 02:42] kentcdodds commented on #495
You could make a file [like this one](https://github.com/testing-library/testing-library-docs/blob/master/docs/example-input-event.md) (in the same directory) and it'll show up on https://testing-library.com/docs/recipes :)

You can mention that it only works in a real browser. I think it's kinda cool. Would be even better if it included a link to a working github repo example :)

[2020-06-09 11:29] Izhaki commented on #495
Sure thing. I'll do it tonight.

[2020-06-12 03:31] #495 closed

[2020-06-12 07:32] MatanBobi commented on #490
Hi @afontcu, @kentcdodds, I saw Kent's tweet a few days ago about ["how to know which event to to fire"](https://twitter.com/kentcdodds/status/1270919381380284416).

Do you think a reference to this app or maybe even gathering up this to an example page is worth doing within this task?

[2020-06-12 10:45] afontcu commented on #490
Hi! 👋

Actually, we might want to put this on hold. It looks like `user-event` is going to be merged into DOM Testing Lib (https://github.com/testing-library/dom-testing-library/pull/616). If that happens, then docs should tell about `user-event` events!

[2020-06-12 19:02] MatanBobi commented on #490
No worries, so lets put this one on hold until `user-event` will get merged and then I'll work on it..
I'll ask for something else from the project :)

[2020-06-12 19:03] MatanBobi commented on #489
Hi @afontcu,
I'm up for this one instead of the Firing events issue if it's still free :)

[2020-06-12 22:28] afontcu commented on #489
Sure! 🙌

[2020-06-13 02:43] kentcdodds commented on #490
I think we're ready to start getting PRs ready to document user event as an official export to `@testing-library/dom` (importable via `import {userEvent} from '@testing-library/dom'`)

Most of the docs from [the original repo](https://github.com/testing-library/user-event) can be copied, but there are some improvements I think we should make:

1. No test-ids
2. If we can help it, less contrived ex

[2020-06-13 05:51] nickmccurdy commented on #490
@kentcdodds I've added most of these changes to [`user-event`'s `PRIORITY` label](https://github.com/testing-library/user-event/labels/PRIORITY) but 2, 4, and 6 are missing issues. Would you like me to create issues for them, or should we handle them as part of testing-library/dom-testing-library#616 instead?

[2020-06-13 06:54] afontcu commented on #490
Thanks, Kent! That's great news.

Totally agree. If possible, all code examples in docs should be based on "real" components, instead of `foo`, `bar` and so on. Bonus points if we unveil concepts and feature by using and _growing_ the same component. It'd mean less cognitive overhead for readers.

I gotta say this makes me extremely happy – one less difference to worry about between React Testing

[2020-06-13 13:39] kentcdodds commented on #490
@nickmccurdy, only bug fixes will go into user-event for the next little while. No new features or even improvements to "correctness".

@afontcu, I agree. `fireEvent` should definitely still be documented for advanced use cases and edge cases. But we should consider user event as the default eventing mechanism.

[2020-06-13 23:43] nickmccurdy commented on #490
@kentcdodds Should I move my in-progress feature work on `user-event` to `dom-testing-library`? And would you like me to start creating issues on `dom-testing-library` now or wait a bit?

[2020-06-13 23:53] kentcdodds commented on #490
Yeah, let's move everything over. But in progress work should go to my branch and not the master branch.

[2020-06-14 01:23] nickmccurdy commented on #490
Migrated issues to [`user-event` label](https://github.com/testing-library/dom-testing-library/labels/user-event)

[2020-06-14 19:01] MatanBobi commented on #489
@afontcu, I started working on this one and I just want to ask the question I asked before in https://github.com/testing-library/testing-library-docs/issues/490#issuecomment-643119123 and is also relevant for https://github.com/testing-library/testing-library-docs/issues/485.
Do we want a "Global" section after the "Getting Started" section or should we put it as part of the "Getting Started" sect

[2020-06-14 19:37] afontcu commented on #489
Hm, not sure yet. I was thinking about a sensible sidebar for docs, but didn't come up with a proposal. I'd say creating a "Global" section might do for now. It might change eventually, though!

---

btw, Just to make sure efforts are in sync: this PR https://github.com/testing-library/testing-library-docs/pull/499 addresses some issues with the Disappearing part of the docs, which is quite releva

[2020-06-15 15:17] thefrontendwizard commented on #381
I can help on this one if nobody's on it.

[2020-06-16 04:36] afontcu commented on #490
Ok, so it looks like `user-event` is not getting merged (yet, hopefully!) into DTL, so we're back to the original plan 😇  https://github.com/testing-library/dom-testing-library/pull/616

[2020-06-16 04:56] MatanBobi commented on #490
Hopefully it will get merged, but for now it looks like @JacobParis have done some work on this in his PR https://github.com/testing-library/testing-library-docs/pull/502, let's just try to keep them aligned with all the other "universal" work we're doing in https://github.com/testing-library/testing-library-docs/issues/489 and https://github.com/testing-library/testing-library-docs/issues/485

[2020-06-18 21:31] alexkrolick commented on #381
@thefrontendwizard great! Please check out the open issues and PRs to make sure you coordinate with the other ongoing changes to how the site is organized 😄

[2020-07-01 13:37] ryota-murakami opened #515 "Why `user-event`,`jest-dom` are putting in small *ecosystem*? Those are de facto stuff within `@testing-library/react` as almost React devs."
And more @kentcdodds  always using `jest-dom` matcher on anywhere like https://kentcdodds.com/blog/react-is-an-implementation-detail
And `user-event` is covering area where doesn't work well`fireEvent`, both API(Package) should be introduce same timing on document I think.
Following current event firing document page only introduce `fireEvent` API.
https://testing-library.com/docs/dom-testing-libr

[2020-07-02 03:36] nickmccurdy commented on #515
Thanks for your feedback. We have reasons for keeping these things separate, though I think it's valid criticism that their separation can cause confusion when trying to use them together, especially in ways we recommend.

If you're using React, I'd encourage you to try out [create-react-app](https://create-react-app.dev/) if you haven't yet, as the template includes some packages from this organi

[2020-07-03 13:26] ryota-murakami commented on #515
That's completely where out side from my head, and now I agree with your current direction.

I didn't know these improvement works on going, I could have expectation Docs will getting better without my concern!

I think it's great idea because if visiter has a chance once to recognize `@testing-library/user-event` package, visitor will have information about `@testing-library/user-event`'s backgro

[2020-07-03 15:15] nickmccurdy opened #519 "Proposal: Move user-event documentation here"
**Is your feature request related to a problem? Please describe.**

Some users either aren't aware about user-event because it's not mentioned by the documentation, or want to use it but find the documentation harder to find.

**Describe the solution you'd like**

Move at least the API documentation in user-event's readme to a prominent page in the sidebar of the docs. This should be in a format s

[2020-07-03 15:20] nickmccurdy commented on #515
Thanks again! I've opened #519 to discuss moving the user-event docs over.

[2020-07-03 15:20] #515 closed

[2020-07-08 17:50] awesomeunleashed opened #523 "10.4.4 causing timeout issue with useEffect+jest.useFakeTimers"
- `@testing-library/react` version: 10.4.4
- Testing Framework and version: Jest 24.9.0 (Create React App)
- DOM Environment: jsdom 14.1.0 (Create React App)

### Relevant code or config:
[code]

### What you did:

I have a component that has a `useEffect` in it and its tests use `jest.useFakeTimers`. My tests for the component passed until I updated to `@testing-library/react` 10.4.4.

### What h

[2020-07-09 19:40] MatanBobi commented on #519
I agree with this one,
I think that user-event is pretty much hidden and having the API in the docs site sounds like a good idea to me.

[2020-07-10 22:48] cecilydowns opened #522 "React Router "full app rendering/navigating" example doesn't work"
**Describe the bug**
I'm trying to write a test for a component using React Router that includes a route change, using the [official example](https://testing-library.com/docs/example-react-router). I'm having issues with the **"full app rendering/navigating"** example test.

Expected behavior: navigates to the About page after click
Actual behavior: renders the 404 Not Found page

**To Reproduce**

[2020-07-11 09:06] nickmccurdy commented on #522
I'm trying this out in Code Sandbox, and the tests are passing for me with the `Router`: https://codesandbox.io/s/young-https-n25gi?file=/src/app.test.js

Are you using the same package versions? It's possible there's another difference in the setup too.

[2020-07-11 15:35] cecilydowns commented on #522
Thanks for the help, I appreciate it! It looks like the React Testing Library versions installed automatically by `create-react-app` are different from the ones in your codepen. These are the versions that I had installed:

[code]

Once I changed my versions to match yours, everything works as expected.

[2020-07-11 15:35] #522 closed

[2020-07-14 12:47] kentcdodds commented on #523
Transferred

[2020-07-14 14:56] awesomeunleashed commented on #523
Our tests pass with 10.4.6. Thanks, guys!

[2020-07-14 22:42] just-boris opened #524 "Clarify preference between `act` from react-testing-library and react-dom"
**Is your feature request related to a problem? Please describe.**

Currently there are two almost identical ways of importing `act` helper:

[code]

The only difference is that built-in `act` is not available in react < 16.8. If I am using newer react, which one would I choose?

There are two possible answers:

1. In future, react-testing-library will drop support for older react versions and dep

[2020-07-15 00:30] kentcdodds commented on #524
I like having act re-exported within react testing library because it makes it more convenient. I don't foresee us removing act from the exports.

[2020-07-15 02:25] nickmccurdy commented on #524
It also gives us the opportunity to extend it with custom functionality in the future, without forcing users to update their code.

[2020-07-15 08:47] just-boris commented on #524
This is exactly what option 2 was about in my question. In this case, it would be nice to have a clarification text in the documentation.

Something like this:

[code]

[2020-07-15 10:04] nickmccurdy commented on #524
We're still not sure if we would do that though. I think the way it's mentioned in the docs currently is enough. https://testing-library.com/docs/react-testing-library/api#act

[2020-07-15 10:15] eps1lon commented on #524
`import { act, render } from '@testing-library/react'` is essentially a convenience import around

[code]

I don't think we need to justify implementation details of `act`. Rather you should import from '@testing-library' so that you import the `act` from the correct renderer. For different renderers (`react-dom`, `react-test-renderer` etc.) you need different `act`. By removing this choice we red

[2020-07-15 11:04] just-boris commented on #524
From all responses I am getting in this thread, there is a recommendation to prefer using the import from `@testing-library/react`.

However, the current documentation text does not have this information, and it can be interpreted in two ways, as I listed above:

[2020-07-15 11:17] eps1lon commented on #524
How did you come to this conclusion from the docs?

All I understand is that the current documentation is too light. In the end users probably don't know what `react-dom/test-utils` is. Saying that this implements [`act()`](https://reactjs.org/docs/test-utils.html#act) and that it should be used as such (though rarely needed since all methods from testing-library are already wrapped).

I doubt we'

[2020-07-15 13:25] just-boris commented on #524
Currently the `act` re-export behaves like some sort of polyfill. It is normal to drop polyfills when bumping the lower supported versions.

Reading all responses I realize that this was not the case here, but initially I could not know that.

Correct, it mentions what the `act` is, but does not give any recommendations. Having a recommendation to avoid direct import of `react-dom/test-utils` woul

[2020-07-15 14:56] kentcdodds commented on #524
Let's do it 👍

[2020-07-18 16:33] #524 closed

[2020-07-28 18:37] #523 closed

[2020-07-28 23:28] alexkrolick opened #536 "Recipe for Formik"
Formik is a super popular form library for React. Their site is pretty sparse on the testing front so I think we should add a recipe page over here, and possibly contribute something back to their docs at https://formik.org/docs/resources

[2020-07-28 23:29] alexkrolick commented on #2
Apparently this is possible in the latest Docusaurus alpha.

[2020-07-28 23:29] alexkrolick commented on #487
Closes #2 (not sure if chaining this will work across issues)

[2020-07-29 12:12] nogashimoni opened #537 "react-testing-library/example-intro test fails saying Cannot read property 'error' of undefined"
**Describe the bug**
When I copy-paste the example and run it locally, it fails saying:
Error: Uncaught [TypeError: Cannot read property 'error' of undefined].
It looks like useReducer doesn't have a default state, even though it should have.

**To Reproduce**
Steps to reproduce the behavior:
1. Create two files, fetch.test.js and Fetch.js and copy the example code into them.
2. Run the test. Test

[2020-07-29 13:10] MatanBobi commented on #537
Hi @nogashimoni, I was able to reproduce this one and you are right, there's no initialValue for the `useReducer` so this one fails.
I've created a PR to fix this.
Thanks for posting it!

[2020-07-29 13:19] #537 closed

[2020-07-30 06:17] MatanBobi commented on #487
Hi @pedroapfilho, I have some time for this one, have you already started or can I take it? :)

[2020-07-31 09:07] nogashimoni commented on #537
Thanks @MatanBobi for the super fast response!

[2020-08-01 13:52] pedroapfilho commented on #487
@MatanBobi go for it. I've started it, but this month is full. Thanks for picking it up!

[2020-08-05 08:33] MatanBobi commented on #487
Thanks @pedroapfilho, I appreciate it.
@afontcu can you please assign this one to me? I'll create an initial PR this week :)

[2020-08-05 08:34] MatanBobi commented on #489
I'm removing myself from this one since there are multiple stuff going on with the events and I want to focus my mind on a different issue :)

[2020-08-05 09:07] afontcu commented on #487
Done!

[2020-08-08 12:02] m98 opened #563 "Request to add more practical example to the document query page"
I know the whole point of this testing library is to do testing "how a user would" and "how user see".

But imagine the time that we have multiple headlines on our page (ex, h2, h3, h4), h2 holds the product name, and h3 holds the product manufacturer. Just by `getAllByRole('heading')` we can't exactly address the specific tag we need to test (ex, product name), there is a need to exactly address

[2020-08-09 09:28] eps1lon opened #561 "Better documentation of explicit and implicit aria semantics"
The current explainer for ByRole regarding default `role` could be expanded a bit:

- warn that `role` should not be added for a test (but for a user)
- link to https://www.w3.org/TR/html-aria/#docconformance for implicit roles and allowed roles instead of https://html.spec.whatwg.org/index.html#contents (navigating a spec is hard)
- and more? See https://github.com/A11yance/aria-query/issues/73

[2020-08-09 09:38] m98 commented on #561
Maybe this link should be changed [on this page](https://testing-library.com/docs/dom-testing-library/api-queries#byrole)
![image](https://user-images.githubusercontent.com/7496103/89729318-b0173480-da49-11ea-9217-c07bf2e67d2b.png)

[2020-08-09 13:54] #561 closed

[2020-08-09 14:21] m98 commented on #563
Okay, I'll take care of this.
Hopefully, a new page will be available in around 10 days from now.

[2020-08-11 22:21] ysun62 opened #566 "React Redux Documention Example Missing the cleanup Method?"
**Describe the bug**
React Redux documention example missing the cleanup method.

**To Reproduce**
1. Go to 'https://testing-library.com/docs/example-react-redux'

**Additional context**
Hey guys, I'm just getting into testing.

As I was reading through the [React Redux example](https://testing-library.com/docs/example-react-redux), I noticed that it didn't have the cleanup method. I thought you'r

[2020-08-12 06:40] afontcu commented on #566
Hi! 👋

Since React Testing Library [v9.0.0](https://github.com/testing-library/react-testing-library/releases/tag/v9.0.0), `cleanup` is automatically called after each test (as long as you're using a test runner that features an `afterEach` hook, such as Jest).

Closing the issue – thanks for posting! 🙌

[2020-08-12 06:40] #566 closed

[2020-08-13 17:28] m98 commented on #563
As discussed earlier, I'm working on a new page as "migrate from Enzyme (or jQuery API)"

I need some information for the new page, and the following list is based on the [Enzyme documentation](https://enzymejs.github.io/enzyme/) and I'm looking for best practice alternatives for Enzyme queries. I can think of some, but your help is needed for a better, easier, and more completed documentation pag

[2020-08-13 18:16] kentcdodds commented on #563
Hi @m98, thanks for your work on this so far.

One thing to keep in mind that there's not really a one-to-one mapping of enzyme features to React Testing Library features. This is because many enzyme features result in bad tests. So it's often not as simple as changing a few function calls and more often it's a matter of rewriting the tests entirely (but it's totally worth doing this because you'r

[2020-08-14 10:06] m98 commented on #563
Thank you so much @kentcdodds

I'm still working on it.

Something that I personally did not get about `getAllByRole` and it would be perfect if you can clarify it, is:
Imagine there are several H1, H2, H3, ... tags on the page, each contain a dynamic text (let's say a number, or an article title, author name, or etc). In this situation, if we use `getAllByRole('headling')` we get an array of elem

[2020-08-14 10:21] eps1lon commented on #563
The difference is that the order of the headings on a page is actually important to the user. Enzyme would return the order of the elements in the component tree which isn't necessarily the same.

But for headings structures I would generally recommend an actual e2e test that creates a snapshot of the heading structure. The headings in an individual component don't matter that much if they don't f

[2020-08-14 10:55] m98 commented on #563
@eps1lon Thank you for your good answer.

Testing by the order of the elements would have the same inefficiency that reduces the development speed, and each simple change in the page might affect the sort of the elements, and a rewriting test would be needed...

Conversations here help to write more efficient document page.

[2020-08-14 11:52] eps1lon commented on #563
That isn't a very valueable goal though. If the behavior for your user changes then your test should reflect that. A test that doesn't break if the behavior for a user changes is not all that valueable. If this is your goal then you wouldn't want to assert headings in the first place.

I mentioned snapshots specifically since they're ideal for headings where they're easily updated and provide a di

[2020-08-14 12:01] m98 commented on #563
@eps1lon Thanks a lot. Again very helpful comment.

What would be the most valuable goal?

I'm listing some reasons why to use React Testing Library instead of the Enzyme. Something about Enzyme is that some developers also mentioned in communities is that when you write tests in Enzyme, it slows you down since every small change in the component, would need re-writing for your tests.

Would you p

[2020-08-19 22:30] kentcdodds commented on #563
Thanks for your work on this @m98. I appreciate you being thorough.

Here's the best resource on that: https://kcd.im/imp-deets

[2020-08-20 02:06] shui91 commented on #381
@frontendwizard @alexkrolick is there any active work on this atm? I'd like to jump in and help on this if there isn't!

[2020-08-20 06:10] alexkrolick commented on #381
@shui91 go ahead!

[2020-08-20 06:34] frontendwizard commented on #381
Go ahead, I couldn't put any time on it unfortunately 😢

[2020-08-20 06:59] MatanBorenkraoutNielsen commented on #563
Jumping in a little late to the conversation here, sorry about that.
Thanks @m98 for the hard work!
What do you all think about renaming the page from `Migrate from Enzyme` to something with a more neutral approach like:
`Core differences from enzyme`?
IMO it sounds like `Migrate from enzyme` has a very clear prespective where `Core differences from enzyme` isn't biased and truly points out the di

[2020-08-20 07:00] MatanBobi commented on #563
Jumping in a little late to the conversation here, sorry about that.
Thanks @m98 for the hard work!
What do you all think about renaming the page from `Migrate from Enzyme` to something with a more neutral approach like:
`Core differences from enzyme`?
IMO it sounds like `Migrate from enzyme` has a very clear prespective where `Core differences from enzyme` isn't biased and truly points out the di

[2020-08-20 07:40] m98 commented on #563
@MatanBobi I belive the "migrate from Enzyme" might help as developers used to see these type of titles that aims to help them to move to a new framework or library, and they're familiar with that. So, it's not wrong if I say they will look for this specific page on our documentation to use its resources which introduced there to get started with the new tool. Another thing is the Search Engine, a

[2020-08-20 13:51] kimfucious opened #570 "Add docs for testing Redux with hooks (e.g. useSelector, useDispatch, etc) and React Router and ++"
**Is your feature request related to a problem? Please describe.**
First off, I should say that this is an excellent testing library, and I do appreciate all the work that has gone into it.

That said, I'm always frustrated when I try to use React Testing Library on a project where I'm using the following setup:
- Create React App
- Redux, using combined reducers and Thunk middleware
- State in al

[2020-08-20 13:58] eps1lon commented on #570
I feel like the redux docs are a better place for that. Otherwise we have to maintain these pages regarding testing-library and redux. Since they already have a pretty [extensive testing guide](https://redux.js.org/recipes/writing-tests#connected-components) I'd recommend opening an issue over there if you have questions.

We should probably just remove our example and link to their docs.

[2020-08-20 15:49] kimfucious commented on #570
I wrote something here, but it dissapeared...

Anyhow, I've read [this](https://redux.js.org/recipes/writing-tests), and it could turn out to be a case of "not my job" on either side.

My hope is to get some docs to work with, either way.

[2020-08-24 04:53] kalpeshsingh opened #574 "[documentation] Add 'What can’t you test with React Testing Library' section"
# Describe the feature you'd like:
Given the philosophy of Testing Library that we should avoid testing implementation details, It would be great to include a section (similar to [What this library is not](https://testing-library.com/docs/dom-testing-library/intro#this-solution)) where we can explain developers that what shouldn't they expect from Testing Library.

**Examples**

- Child component

[2020-08-24 10:44] kalpeshsingh commented on #574
@MatanBobi - Thank you for pointing me to Guiding Principles page.
That does make sense for mid-level developers but perhaps not for newbies.

I'm considering situation where many new developers want to use it and couldn't comprehend the guiding principles.
Instead we clear their expectation upfront.

[2020-08-24 10:55] MatanBobi commented on #574
That sounds good, if you think that the explanation should be simplified and have an approach on how to do it, feel free to setup a PR :)

[2020-08-25 17:44] nickmccurdy opened #580 "Should we remove/update native docs?"
`@testing-library/jest-native` has been deprecated but it seems like our docs site hasn't been updated to reflect it. Should we remove our pages, link directly to the new package, or add a deprecation warning?

# Related
- #92
- testing-library/jest-native#34

[2020-08-26 10:38] lucasff commented on #570
hello! I'd kindly request to have documentation on how to test properly using React Context with the `useContext` hook.
I've been struggling with cryptic error messages, such as:

`TypeError: Cannot read property "contextTypes" of undefined`.
Using enzyme, for example, the documentation is not very clear on how to give context value to the Component as well.

[2020-08-26 15:27] kentcdodds commented on #570
None of us is getting paid to do this open source work so technically this is just as much your job as it is anyone else's 😉 That's open source for you 😅

@lucasff, googling "Test React Context" turns up this page in the docs: https://testing-library.com/docs/example-react-context

[2020-08-26 16:34] #580 closed

[2020-08-26 17:23] nickmccurdy commented on #580
Ah wait, I mistyped the package, I meant `@testing-library/react-native`. Mind if I reopen this or is the package not deprecated yet?

[2020-08-26 17:25] nickmccurdy commented on #580
Ah, didn't realize this was already pointing to the new library.

[2020-08-27 01:55] kimfucious commented on #570
Hi @kentcdodds,

Thanks for chiming in.  Your snark is duely noted 🌮.

You may have interpreted my use of "not my job" to be that I expect this to be done for me, or that I don't appreciate/understand open source.  My apologies, if that was the case.

In fact, I meant it to illustrate that--because this project is open source--I am hopeful that someone in the community may have some creative advic

[2020-08-27 08:45] eps1lon commented on #570
@kimfucious Maybe start by sharing what you find lacking in https://redux.js.org/recipes/writing-tests? It seems so much more extensive that I would just drop our guide or upstream some stuff.

[2020-08-27 09:04] MatanBobi commented on #570
Basically I wrote both of the docs here and there, the problem with dropping our guide is that if for some reason redux will decide to drop RTL explanation, it will leave us with no explanation at all.
I do think that having a thorough explanation and example containing all of the redux features should probably be on the redux docs :)

[2020-08-27 09:18] eps1lon commented on #570
The same applies to any feature we add/drop or they add/drop. But if you think this is a likely scenario then why not just copy it as a whole?

Could we establish some communication with redux folks so sync on who should host these guides? Two guides is in my opinion strictly worse since now a reader has to decide which to follow. And if we contradict each other it gets really confusing.

[2020-08-27 09:33] MatanBobi commented on #570
I agree.
@markerikson, @timdorr - can we get your thoughts about this one please?

[2020-08-28 18:48] nickmccurdy opened #586 "Consider making Discord link easier to find"
Links to the official Discord server for discussion/help/contribution are currently only in the footer and help page (see a21702becc1a3fd3f5553a10242f627124d956e9). Originally I just wanted to replace existing links for Reactiflux (Discord) and Spectrum, but I think a lot of users are missing them as there are still issues in this GitHub organization that are more help questions, which are easier

[2020-08-29 02:38] markerikson commented on #570
I mean, we just merged your PR - why would we remove it? :)

[2020-08-29 10:43] TheGallery commented on #586
I second that. I had trouble finding the link myself.

Adding it to the navbar sounds pretty solid, it's pretty common as well I believe.

[2020-08-29 16:27] nickmccurdy commented on #570
As far as I can tell, most of the uncertainty here is about Redux testing best practices rather than Testing Library best practices. I think state management with Redux is a bit too off topic to have in the Testing Library docs, especially since they're focused on just the supported libraries while Redux's docs have more examples of recipes such as this one.

That being said, I think it would be a

[2020-08-29 20:48] nickmccurdy commented on #570
@kimfucious I'll address some of your questions, but if you need more guided or in depth help approaching Redux/React/etc. tests, it may help to ask in the `#redux` channel on [Reactiflux](https://discord.gg/reactiflux) or the `#react-testing-library` channel on [Testing Library](https://testing-library.com/discord).

As long as you use the real store (or a similar mock) in your tests this should

[2020-08-29 20:50] nickmccurdy commented on #570
I agree, and having to maintain two similar articles isn't ideal. I think state management with Redux is a bit too off topic to have in the Testing Library docs, especially since they're focused on just the supported libraries, while Redux's docs have more examples of recipes with related libraries such as this one. If we update Redux's Writing Tests guide to use hooks (without a separate unconnec

[2020-08-31 09:39] kimfucious commented on #570
Hello Gents,

I'm impressed by and very appreciative of the positive attention that this thread has received from each of you.

My two cents regarding React Testing Library docs is that the docs should focus on how to make the product work in various scenarios, including combined scenarios.

Obviously there are a lot of different testing scenarios, so it's a big ask to think that everything would

[2020-08-31 22:35] nickmccurdy commented on #570
I agree that having integration docs is important to show more real world usage, but as we mentioned above it's not ideal to maintain two very similar doc pages. I'd still like to help merge and/or improve them though, depending on what other Testing Library and Redux maintainers think.

In my opinion the Redux Writing Tests page already does a decent job. If you have any specific issues with that

[2020-09-01 08:23] alexkrolick commented on #570
Generally we have included recipes for 3rd party libraries in these scenarios:
- roll over from early days, when no lib would have shown RTL because it was brand-new
- when their own docs either aren't sufficient or we disagree with what they have documented (out of sync with best practices or overall philosophy)

The docs look pretty good on the Redux side. I'd say we should just link to them.

[2020-09-01 19:42] nickmccurdy opened #589 "Migrate React recipes to hooks"
**Is your feature request related to a problem? Please describe.**
Function components with hooks are now officially recommended over class components by React.

**Describe the solution you'd like**
Replace old patterns like `connect`, `withRouter`, other HoCs, and class components with hooks.

- [x] [Codesandbox Examples](https://testing-library.com/docs/example-codesandbox)
- [x] [Input Event](h

[2020-09-01 19:45] nickmccurdy commented on #589
@MatanBobi here's the meta issue for my previous comment

[2020-09-02 07:49] kimfucious commented on #570
I've created [a repo](https://github.com/kimfucious/RTL-Kitchen-Sink) to gather some examples together with a silly, little app that has (or will have) most of the functionality that I'm looking to test.

At present, I've gotten past the hurdle of creating a wrapper, to reduce boilerplate, that gets tests running with both Redux and React Router.

This is all obviously incomplete at the onset, but

[2020-09-02 07:57] kimfucious commented on #570
...

Thanks for this, @nickmccurdy.

I misused the term, "unit tests", in the above.  I believe that I should have said 'integration tests".

You could verify the things I'm trying to test [here](https://github.com/kimfucious/RTL-Kitchen-Sink), if you're at all interested.

[2020-09-02 18:36] m98 commented on #589
Hi @nickmccurdy

I would be happy to work on it. but I might need some help along the way. If you wish, you can assign it to me

[2020-09-03 15:03] bwlt opened #592 "Improve docs/example-react-transition-group"
**Is your feature request related to a problem? Please describe.**
I first approached testing with the given docs for [React Transition Group](https://testing-library.com/docs/example-react-transition-group), but using [this solution](http://reactcommunity.org/react-transition-group/testing) was much cleaner and easier.

**Describe the solution you'd like**
It would be useful to add a reference to

[2020-09-06 12:41] #563 closed

[2020-09-06 23:26] nickmccurdy commented on #589
@m98 I'm taking care of React Redux but you can start the others if you'd like.

[2020-09-07 01:24] m98 commented on #589
Thank you @nickmccurdy
Sure, for now, would be glad to work on at least the first three items you introduced.

Then if I got time again, I would do the rest

[2020-09-09 18:40] nickmccurdy commented on #487
Let me know if you'd like help with this. Docusaurus seems to have a significantly nicer directory structure (so we don't have to keep switching to `website` to run it).

[2020-09-09 18:46] nickmccurdy commented on #314
Is the board up to date? It seems like some things may be moved to in progress.

[2020-09-09 23:49] mrantry opened #608 "Clicking the "Next ->" button on `/react-testing-library/api` redirects to a page that doesn't exist"
**Describe the bug**
Link to FAQ from API page needs to be updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://testing-library.com/docs/react-testing-library/api
2. Scroll to the bottom
3. Click on the "Next ->" button at the bottom of the page
4. See error redirecting to https://testing-library.com/docs/dom-testing-library/react-testing-library/migrate-from-enzyme

**Expe

[2020-09-10 00:00] #608 closed

[2020-09-10 00:03] nickmccurdy commented on #608
The Migrate from Enzyme link was broken, now it works and you can press next/previous through it.

[2020-09-10 05:12] MatanBobi commented on #487
Thanks @nickmccurdy, I'm sorry I didn't create the PR yet, had some stuff going on..
I actually didn't want to break the current structure so I decided to keep the docs above the site, do you think I should go the other way and keep the v2 defaults?

[2020-09-10 19:27] arawden opened #662 "React Intl documentation - runtime environments link 404s"
- `@testing-library/dom` version: 7.22.2
- Testing Framework and version: Jest, 26.4
- DOM Environment: jsdom

### Relevant code or config:

From the [React Intl documentation](https://testing-library.com/docs/example-react-intl)

[code]

### What you did:
I've created a `test-utils.tsx` file which exports a custom render function. Inside of the custom render function, I was calling the above snip

[2020-09-15 02:21] shermanhui commented on #381
Hey @alexkrolick I got caught up with work stuff for the last few weeks and I'm just getting back to this. I opened up a PR with a potential example, but I just wanted to get some eyes on it because it fails on Code Sandbox (even though I believe it should be passing 🤔 😅 ). Would appreciate any feedback on this, thanks!.

https://codesandbox.io/s/suspicious-jepsen-qlqhi?file=/src/findBy.test.js

[2020-09-16 14:26] levino opened #618 "Versioned docs"
**Is your feature request related to a problem? Please describe.**
I have a project which uses version 9.4.0 of the react testing-library. I cannot find documentation on the interface of that version. The docs do not even tell me the version they are for... It would be nice if one could also browse the docs for the older versions of the libraries.
**Describe the solution you'd like**
Use versioned

[2020-09-16 17:38] alexkrolick commented on #618
Docusaurus supports versioning, but we haven't added it for a few reasons:

1. Which package do we track? DOM, React, Cypress?
2. Maintaining the old versions in-repo the Docusaurus way requires creating sub-directories and moving things around fairly often

To make this a bit easier, and assuming there is an answer for (1), we could create GH releases for one of the packages and link it to a Netl

[2020-09-16 20:38] alavkx opened #619 "assertion inside waitFor callback inflates expect.assertions number"
- `@testing-library/dom` version: v7 (using @testing-library/react v10)
- Testing Framework and version: v26 (using react-scripts 4.3.0)

- DOM Environment: jsdom v16

### Relevant code or config:

[code]

### What you did:

Ran the test

### What happened:

[code]

### Reproduction:

The sandbox for some reason is throwing an error which is resolved by removing testing-library.
[code]

https://co

[2020-09-17 00:31] alexkrolick commented on #619
`expect.assertions` is built into the test framework, and it's doing exactly what it is supposed to.

Usually it is used to ensure that an assertion is called in async scenario where there is a possibility of going down a .catch/.then path that doesn't contain an assertion, causing a false pass.

When you use `waitFor`, the test will fail if the callback doesn't stop throwing, so it doesn't have a

[2020-09-17 13:26] alavkx commented on #619
Do you have any suggestions for someone who _must_ use `expect.assertions` in all their tests? If I can't use `waitFor`, what is the alternative?

[2020-09-18 17:40] alexkrolick commented on #619
🤔 Alright:

The example below shows an alternative way to write the test that doesn't put assertions in a loop. Instead, you use regular functions in the loop and move the assertions afterwards.

[code]

[2020-09-18 17:43] alavkx commented on #619
Hey that's actually a pretty good alternative. Thank you! ❤️

I'll leave this issue open for now, as it's tied to https://github.com/testing-library/testing-library-docs/pull/620

[2020-10-01 18:59] #236 closed

[2020-10-01 22:12] alexkrolick opened #633 "Fix dimension of Nighwatch logo"
The Nightwatch logo on the homepage is taller than the other icons, causing the text to be misaligned relative to the other labels.

[2020-10-01 22:32] #619 closed

[2020-10-05 23:54] #633 closed

[2020-10-06 17:53] nickmccurdy commented on #92
Now that [React Native Testing Library has its own site](https://callstack.github.io/react-native-testing-library/), should we close this?

[2020-10-06 17:55] #92 closed

[2020-10-07 12:54] #153 closed

[2020-10-07 12:55] nickmccurdy commented on #62
Codefund was shut down. Should we close this, enable Open Collective, or enable sponsors?

[2020-10-07 12:56] nickmccurdy commented on #2
Would this automatically be part of #487 or does it have to be enabled manually?

[2020-10-07 12:58] nickmccurdy commented on #592
This seems to be more of a tip than a recipe, though it is useful. How would you feel about editing the existing recipe to use this instead of the fake transition?

[2020-10-07 12:58] #574 closed

[2020-10-07 13:03] nickmccurdy commented on #618
Is this a duplicate of #484?

[2020-10-07 13:09] eps1lon commented on #62
We shut down our opencollective. For sponsors we'd need another org otherwise it gets tricky which maintainers we want to link to.

Regarding ads: depends on the traffic we have. I can ask if I'm allowed to share the ad revenue we generate from Carbon ads on material-ui.com. I find them pretty light-weight and not annoying at all.

[2020-10-07 14:29] Levino commented on #618
Yes, I guess so but think that my issue is more actionable / straighter to the point. Happy to close this in favor of #484 if it makes sense to the others though.

[2020-10-07 18:03] #62 closed

[2020-10-07 18:03] kentcdodds commented on #62
Whoops, didn't mean to close. But honestly I'm not sure what we'd do with funds 🤷‍♂️ If anyone is interested in trying to work on this more full-time and get compensated for their work, then we can discuss that in a team chat.

[2020-10-07 19:12] alexkrolick commented on #2
It's a separate plugin... We want to be careful with service workers here. Don't want to serve stale content accidentally.

[2020-10-07 19:24] #381 closed

[2020-10-08 14:38] rawat07102 commented on #20
Hey! I want to work on this, so do I believe I should make 2 different PR, one for ecosystem link and one for Recipe, right?

[2020-10-08 17:26] alexkrolick commented on #20
@rawat07102 either way. Please take a look at #64 and work off that.

[2020-10-10 20:00] luistak commented on #536
Hi there!

I can help with this issue ✋

[2020-10-12 13:09] SimenB opened #646 "Automatic cleanup not triggered in Jest without globals"
- `@testing-library/react` version: N/A
- Testing Framework and version: `jest@>=26.5`

- DOM Environment: N/A

### Relevant code or config:

Jest config with [`injectGlobals: false`](https://jestjs.io/docs/en/configuration#injectglobals-boolean).

### What you did:

Expected<sup>*</sup> the documented automatic cleanup to trigger.

<sup>*</sup>) I didn't actually expect this 😛

### What happened:

[2020-10-13 07:14] marcosvega91 commented on #646
I have moved to the right repo, thanks @MatanBobi :)

[2020-10-20 22:46] luistak commented on #536
Hello!

Is there anything else needed in this issue/pr?

[2020-10-21 14:17] #646 closed

[2020-10-22 02:01] shermanhui commented on #469
@eps1lon, @nickmccurdy I'd like to help out with this issue, but I need some clarification.

I've read through the thread and it looks like the original issue was that it wasn't clear that middle (1) and right (2) mouse click events *don't* dispatch a click event. I'm a little confused about that since it looks like in the OP `{ button: 1 }` did trigger an event?

So is it my understanding that th

[2020-10-23 04:53] shermanhui commented on #409
Hey all, I opened up a draft PR to add the documentation. I've summarized the thread and added that to `waitForElementToBeRemoved`'s documentation in `api-async.md`.

If anyone has some time to provide some assistance, I'm having some trouble with adding examples to help illustrate the points discussed in this thread. I've linked the two sandboxes in my PR - it'd be great to get more context onto

[2020-10-23 10:54] ChristophWalter opened #653 "Improve Angular Testing Library API documentation"
I am new to Angular Testing and stumbled across some misunderstandings while writing my first tests. I would like to help you improve it, so let's start collecting the issues. 🙂

1. The example for the declarations (within RenderOptions) is wrong. It configures the providers. Furthermore there is no descriptions for the providers option. https://testing-library.com/docs/angular-testing-library/api

[2020-10-23 17:03] timdeschryver commented on #653
Hi, I'm the maintainer of Angular Testing Library.
Those are all valid points, feel free to create a PR and ping me for a review.

[2020-10-27 09:17] ryota-murakami opened #657 "RTL: add Styled-Component issue and workaround"
Relative: https://github.com/styled-components/styled-components/issues/3262

Showing this issue on the docs somewhere is might be better.
I'll make PR about it in my spare time.

Please comment if you have any idea such as ideal place to write 😀

[2020-10-27 10:30] eps1lon commented on #657
This should go in the docs for jest-dom with the note that any styling (especially computed styles) is not reliable in JSDOM (same goes for anything layout related).

It's not an issue with `styled-components` or `@testing-library/react`.

[2020-10-27 10:46] ryota-murakami commented on #657
@eps1lon Sure, I'll adding note that at bellow jest-dom section, that's make sense?
https://github.com/testing-library/testing-library-docs/blob/master/docs/ecosystem-jest-dom.md

[2020-10-28 12:04] ozgunbal commented on #589
Hi, If it's still available, I can help migrating React Transition Group docs.

[2020-10-29 09:30] nickmccurdy commented on #589
@ozgunbal As far as I'm aware it is still available. Thanks!

[2020-11-01 20:58] lidoravitan commented on #589
Hi @nickmccurdy I'd like to help with it.
It seems that some items on this list have already been done ([Input Event](https://testing-library.com/docs/example-input-event), [Update Props](https://testing-library.com/docs/example-update-props), [React Router](https://testing-library.com/docs/example-react-router)), right? If yes, we could mark them. I see that [Codesandbox Examples](https://testing

[2020-11-03 03:57] nickmccurdy commented on #589
@m98 Did you want to finish the Codesandbox Examples or is it okay if @lidoravitan picks up the work?

[2020-11-04 01:16] #487 closed

[2020-11-04 02:24] maraisr opened #661 "Strange flicker on refresh"
**Describe the bug**
There seems to be a flicker from what I assume is the mac button, to a control?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to website
2. Refresh site
3. Whilst refreshing look at search box

**Expected behavior**
There shouldnt be a flicker.

**Screenshots**
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/599459/98061907-b2e2c380-1e98-11eb-8eb

[2020-11-04 06:55] MatanBobi commented on #661
Hi @maraisr, thanks for opening this issue!
I can't seem to reproduce it neither on Firefox (version 81.0.2) nor on Chrome.
Does this reproduces also in Chrome?
At first glance, this looks like a bug within Docusaurus, can you please try to see if this reproduces also on [docusaurus main site](https://v2.docusaurus.io/)?

[2020-11-04 07:16] maraisr commented on #661
Can you check on Windows, I did state that.

[2020-11-04 07:27] MatanBobi commented on #661
Yea, I saw that, I just don't have a windows computer at hand, that's why I asked you to see it.. Sorry and thanks!

[2020-11-04 08:31] m98 commented on #589
@nickmccurdy I've been quite busy these months. Yes, I would be happy if @lidoravitan can work on that
Thanks you

[2020-11-04 09:11] MatanBobi commented on #410
This wasn't automatically closed with #439 so I'm closing it :)

[2020-11-04 09:11] #410 closed

[2020-11-04 09:12] MatanBobi commented on #2
Now that #487 was merged, I can take this one.

[2020-11-04 09:14] MatanBobi commented on #249
@alexkrolick How do you think we should tackle this one?

[2020-11-04 10:11] maraisr commented on #661
Oh gee! More wide spread than I thought. Will open an issue there, thanks mate.

[2020-11-04 10:11] #661 closed

[2020-11-04 20:17] alexkrolick commented on #249
I think container is now set to document.body in most cases, but we should also check how this fits together with the switch to `screen`

[2020-11-04 20:22] alexkrolick commented on #2
I think Kent has been bit by stale service workers serving outdated pages a few times now, so let's just be careful about testing this... For now the offline usecase can be solved by cloning the docs repo.

[2020-11-04 20:24] alexkrolick commented on #2
We could split this into a separate task, but publishing the docs into the Dash docset database would also be a nice way to handle offline access

https://kapeli.com/docsets

[2020-11-05 07:28] MatanBobi commented on #249
Yeah, I think you're right.
Looks like we're still snapshotting `firstChild` [here](https://testing-library.com/docs/react-testing-library/api#render) so I guess we'll need to remove that also.
About snapshotting `screen`, we actually don't have anything talking about snapshotting in the docs, we just see it as part of other examples, should we update them to use `screen`? They aren't doing that a

[2020-11-05 10:59] johnste opened #664 "GitHub repository link broken"
**Describe the bug**
Right now the link to the GitHub repository on https://testing-library.com/help is broken and points to https://testing-library.com/undefined

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://testing-library.com/help
2. Click on the link in the text to "Get support on GitHub"
3. See a 404 page since you are now on https://testing-library.com/undefined

**Expe

[2020-11-05 11:25] #664 closed

[2020-11-05 11:25] MatanBobi commented on #664
Thanks for this @johnste! :)

[2020-11-05 23:16] maraisr commented on #661
For those coming here, this has been resolved by https://github.com/algolia/docsearch/pull/983

@MatanBobi once they release that, will this repo automatically pick up those changes (renovate, dependabot), or should I raise a PR to update this?

[2020-11-06 06:53] nickmccurdy commented on #570
I believe

[2020-11-06 06:53] #570 closed

[2020-11-06 07:14] MatanBobi commented on #661
Thanks for the update and the work @maraisr!
Once they will push the new version we'll probably need to upgrade the packages with a PR.. Feel free to do that :)
Just keep an eye, docusaurus upgrades can contain breaking changes since they are still on alpha.
Thanks again!

[2020-11-06 07:18] maraisr commented on #661
nw will do! Hopefully it is painless! 🤞

[2020-11-06 07:21] BBlackwo opened #667 "Edit this page button results in 404"
**Describe the bug**
The *Edit this page* button goes to the wrong place

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://testing-library.com/docs/angular-testing-library/intro
2. Scroll down to the bottom
3. Click on *Edit this page*
4. See you are taken to https://github.com/testing-library/testing-library-docs/blob/master/docs/docs/angular-testing-library/intro.mdx

**Expecte

[2020-11-06 07:26] MatanBobi commented on #667
Thanks for opening this @BBlackwo!
I'm creating a PR for that.

[2020-11-06 07:36] BBlackwo commented on #667
You're welcome @MatanBobi. Thanks for the quick response!

[2020-11-06 10:58] #667 closed

[2020-11-06 23:07] MrLoh opened #670 "RSS feed for the blog"
**Is your feature request related to a problem? Please describe.**
I can't find an RSS or any other kind of feed for the blog. Am I missing something or is there no feed. Would love to be able to subscribe for updates.

**Describe the solution you'd like**
Adding federation to allow subscribing to the blog

[2020-11-09 09:44] lidoravitan commented on #589
@m98 @nickmccurdy thanks i'll start with it

[2020-11-10 05:17] ryota-murakami commented on #657
This is fixed at https://github.com/styled-components/styled-components/issues/3262#issuecomment-724211757 so we don't have to add anything Docs.

[2020-11-10 05:17] #657 closed

[2020-11-10 15:17] #670 closed

[2020-11-10 15:20] nickmccurdy commented on #670
[RSS](https://testing-library.com/blog/rss.xml)
[Atom](https://testing-library.com/blog/atom.xml)

[2020-11-16 13:59] lidoravitan commented on #662
I created PR to fix the format.js link.
@arawden The example test from the [react-intl docs](https://testing-library.com/docs/example-react-intl/) seems to work on my local environment. Is there anything else to change?

[2020-11-23 15:40] AntonNiklasson opened #687 "Distinguish similar search results better"
Search results on the site are a bit to vague. It would be nice to have a larger portion of the page structure show on each of the hits. See this screenshot:

![Screenshot 2020-11-23 at 16 34 24](https://user-images.githubusercontent.com/785676/99981693-ffd7fc80-2da9-11eb-942a-be7326672e22.png)

Showing something like _React Testing Library > API_ instead of just _API_ in the subtitle of each hit

[2020-11-24 21:32] #536 closed

[2020-11-27 11:26] ClementParis016 opened #693 "Usage of NODE_PATH in react-testing-library with create-react-app v4"
Hello 👋

[create-react-app](https://create-react-app.dev/) no longer supports usage of `NODE_PATH` in `.env` since [v4](https://github.com/facebook/create-react-app/releases/tag/v4.0.0):

So I think we should update this part of the docs to reflect that:
https://github.com/testing-library/testing-library-docs/blob/99ef60b9acc6193a70fb9e01d1a584ffd15c8f67/docs/react-testing-library/setup.mdx#L211-L

[2020-11-28 12:08] nickmccurdy commented on #687
We're still using Algolia DocSearch, but in Docusaurus 2 instead of 1. Can you please [open an issue upstream](https://github.com/facebook/docusaurus/issues/new/choose)?

[2020-11-28 12:08] #687 closed

[2020-11-29 09:16] MatanBobi commented on #687
Just a quick note, I think it would be better to open in [this repo](https://github.com/algolia/docsearch) since docusaurus depends on algolia/docsearch :)

[2020-11-29 18:00] pedroapfilho opened #696 "Create a `Tab` on docusaurus for Typescript implementations"
I came across the `Setup` on the `React` docs, and I found [this](https://testing-library.com/docs/react-testing-library/setup).

Using it with typescript is a little bit tricky for new comers, and I think that it may happen with a lot of people, so what if we use the new [Markdown Feature](https://v2.docusaurus.io/docs/markdown-features/#tabs) for `Docusaurus` that allows us to create `Tabs` on t

[2020-11-30 08:40] MatanBobi commented on #696
Hi @pedroapfilho, thanks for opening this!
It sounds good to me, we've already added `Tabs` and `TabItem` in some docs and there's also a code snippet for vscode to generate those.
Since we don't have typescript blocks in the docs yet, maybe it would be better to have another opinion..
@nickmccurdy, @kentcdodds wdyt about this one?

[2020-11-30 17:48] kentcdodds commented on #696
Seems to make sense to me if anyone's willing to do the work there.

[2020-11-30 21:50] pedroapfilho commented on #696
Alright, I'll start then!

[2020-11-30 21:53] nickmccurdy commented on #696
Would it be possible to have the TypeScript code typechecked and compiled to the JavaScript code automatically to keep the types and both code examples in sync?

[2020-11-30 22:00] kentcdodds commented on #696
I'd be worried about the compiled version looking like.... compiled code 😅 But it's possible that the right babel plugins + prettier could be used to *only* remove types 🤔

[2020-11-30 22:01] nickmccurdy commented on #696
As far as I understand that's pretty much what `@babel/preset-typescript` does.

[2020-11-30 22:10] pedroapfilho commented on #696
@nickmccurdy Do you have any examples of it somewhere I can see?

[2020-11-30 22:15] nickmccurdy commented on #696
Examples of what?

[2020-11-30 22:39] pedroapfilho commented on #696
Of any docusaurus docs that has this setup

[2020-12-21 16:51] #693 closed

[2021-01-12 14:23] ITenthusiasm opened #734 "Improving and Diversifying the Testing Library Recipes"
Hi all! I was thinking of adding/migrating some examples of Vue Testing Library (VTL) to the Testing Library docs so people could easily find ways to handle some common use cases. I thought the best place for that would be [the recipes](https://testing-library.com/docs/recipes). But there's no folder-like structure, and most of the examples seem to be React-related.

So I'm looking for some guidan

[2021-01-12 20:04] alexkrolick commented on #734
I would start by writing the example and adding it to the **Recipes > Examples** list. We can then re-organize the content.

[2021-01-13 10:00] #485 closed

[2021-01-13 11:41] mohitsidhu157 opened #736 "Broken Link"
**Describe the bug**
I find out a broken link in the documentation

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://testing-library.com/docs/react-testing-library/api#debug'
2. Click on 'DOM Testing Library' below the code snippet.
3. See link is broken

[2021-01-13 17:57] pedrosimao opened #738 "Best practice while querying translated strings"
I am having a discussion with my team about what is the best practice when it comes to querying translated texts.

As those texts can be modified by non-developers (translators) we don't want our tests to be broken on each translation change. But a part of my teammates thinks we should keep on using plain strings, so our tests resemble user behavior...
In our current code we are doing something li

[2021-01-13 20:06] alexkrolick opened #737 "Better documentation for testing translated text"
Starting point: summarize discussion at testing-library/react-testing-library#862

[2021-01-18 09:05] upalatucci commented on #736
Broken link also for the vue doc here : https://testing-library.com/docs/vue-testing-library/api#queries.
Click on 'DOM Testing Library' or 'See Queries' and the links are broken.
Can it be done in this issue? Or this should be in a different one?

[2021-01-18 14:36] #220 closed

[2021-01-19 16:34] prashantswami opened #746 "data-testid or data-test-id?"
What I see is,
Data, test and id are three different words and using snake case convention it becomes `data-test-id`. But  I see it is suggested to use `data-testid`.
Just want to know if there is any logical reasoning behind this?
Using `data-test-id` would it considered as off standard?

Expected:
If there is no logical reasoning behind this, could we add it to our documentation saying use of `d

[2021-01-19 18:11] afontcu commented on #746
Hi!

The default usage is `data-testid` as you mentioned. A `data-test-id` attribute won't match.

If you want to use it, you can customize the selector using `configure({ testIdAttribute })` ([docs](https://testing-library.com/docs/dom-testing-library/api-configuration/#introduction))

Closing this up! :)

[2021-01-19 18:11] #746 closed

[2021-01-19 19:06] alexkrolick commented on #746
The "logical reasoning" behind it is some libraries had already started using `data-testid` before Testing Library existed, so it seemed better to keep the same convention

[2021-01-19 19:15] rwpswami commented on #746
@alexkrolick so using `data-test-id` is still fine?

[2021-01-19 19:19] alexkrolick commented on #746
You can change the attribute so `getByTestId` works like @afontcu said. But I'd consider why you're doing it. It might not be worth the extra hassle.

https://testing-library.com/docs/dom-testing-library/api-configuration/#introduction

[2021-01-19 19:25] #736 closed

[2021-01-30 22:53] kentcdodds opened #753 "Add awards section?"
I noticed a cool image on the [MSW](https://npm.im/msw) README and asked Artem if he could make one for us which he did!

![rtl-2019](https://user-images.githubusercontent.com/1500684/106369944-ece62900-6312-11eb-9bbf-47bba0bf0d6f.png)

We also won the highest satisfaction award for the State of JS 2020 survey: https://2020.stateofjs.com/en-US/awards/

So it'd be cool to make some kind of image fo

[2021-01-31 01:31] nickmccurdy commented on #753
Perhaps we could ask for permission to use their logos and treat it similarly to the users page (either as a section at the top or a separate page).

[2021-01-31 07:27] MatanBobi commented on #753
I like the idea of having it in the footer of the site, we can keep that part small :)
Not sure if anyone will visit an awards page 😅

[2021-02-04 16:43] raineorshine opened #757 ""Helpers API" and "buildQueries" links broken"
**Describe the bug**

The "Helpers API" links are broken on the following pages:

- https://testing-library.com/docs/react-testing-library/setup#add-custom-queries
- https://testing-library.com/docs/dom-testing-library/cheatsheet/#other
- https://testing-library.com/docs/vue-testing-library/cheatsheet/#other

The "buildQueries" and "variants" links are also broken on this page:

- https://testing-

[2021-02-07 08:56] EladIsraeli commented on #757
I would like to take this issue :)

[2021-02-07 08:58] MatanBobi commented on #757
Sure, go for it @EladIsraeli!

[2021-02-07 12:22] #757 closed

[2021-02-17 11:37] martinkask-clarifai opened #763 "Error in Cypress Testing Library documentation example"
**Describe the bug**

In https://testing-library.com/docs/cypress-testing-library/intro/
There is this:
`cy.findByRole('button', { name: /Non-existing Button Text/i }).should(
  'not.exist'
)`

This test will always throw an error, because cy.findByRole will throw an error if the element is not found.

[2021-02-18 10:01] martinkask-clarifai commented on #763
More info why this is so can be found here: https://docs.cypress.io/guides/core-concepts/conditional-testing.html

[2021-02-25 16:03] doumart opened #769 "Documentation for jest-native is wrong"
**Describe the bug**
the exemple says that ".toBeVisible" exists on the jest-native library but doesn't

**Screenshots**
First one is the lib docs and the other is the testing library doc

![Screen Shot 2021-02-25 at 11 01 49 AM](https://user-images.githubusercontent.com/15257130/109180491-eeabdc80-7758-11eb-8203-4f32de135912.png)
![Screen Shot 2021-02-25 at 11 01 41 AM](https://user-images.github

[2021-02-28 07:39] MatanBobi commented on #769
Hi @doumart, thanks for opening this one!
You're right, `toBeVisible` doesn't exist in jest-native afaik..
If you'd like to take this one and remove that part of the example, feel free :)

[2021-02-28 10:15] #769 closed

[2021-02-28 12:42] MatanBobi commented on #489
@alexkrolick I think we can close this one after #735 was merged, wdyt?

[2021-02-28 12:42] MatanBobi commented on #490
@alexkrolick I think we can close this one also after #735 was merged, wdyt?

[2021-03-01 07:48] #489 closed

[2021-03-01 07:48] #490 closed

[2021-03-03 10:47] Smiter15 commented on #389
This has been added to the docs here
https://testing-library.com/docs/dom-testing-library/api-events/#fireeventeventname

I think this issue can be closed.

[2021-03-03 11:05] MatanBobi commented on #389
Amazing, thanks for pointing that out @Smiter15!

[2021-03-03 11:05] #389 closed

[2021-03-15 12:44] MatanBobi commented on #2
@alexkrolick do you have experience with publishing some docs to the docset? It really looks not straightforwards as I thought it would be..
I guess we'd want to use something like: https://kapeli.com/docsets#dashDocset, they have generators but seems to me like it's a real overhead and will need to be manually updated..

[2021-03-18 08:43] MatanBobi commented on #662
@arawden can we close this one? Looks like @lidoravitan made the necessary changes.

[2021-03-18 08:46] MatanBobi commented on #586
@nickmccurdy Any new ideas about this one? Looks like the Discord link is still on the footer and the Help page hasn't been changed for a while now..

[2021-03-18 12:42] nickmccurdy commented on #586
I'm also interested in enabling Discussions on more repositories now that it's publicly available. Do you think we'd still want to prioritize the Discord in that case? Personally I think it's useful to have separate thread driven and realtime discussions, but I'm not sure if that would confuse users or split up helpful discussions.

[2021-03-25 15:03] wschmrdr opened #789 "Site down"
Attempted to go to testing-library.com and I am unable to connect. Server isn't responding after hanging.

Running Linux Mint on a desktop, tried both Firefox and Chromium.

In addition, I ran https://www.isitdownrightnow.com/testing-library.com.html and they also report it to be down; allegedly has been down for a while.

I understand this is a server issue and not necessarily a coding problem; j

[2021-03-25 15:04] siuglukas opened #790 "This site can’t be reached"
Hi, your documentation website doesn’t seem to work. https://testing-library.com/

[2021-03-25 15:29] MatanBobi commented on #790
Closing this in favor of https://github.com/testing-library/testing-library-docs/issues/789

[2021-03-25 15:29] #790 closed

[2021-03-25 15:30] MatanBobi commented on #789
Thanks @wschmrdr I'll try to take this one :)

[2021-03-25 18:20] timdeschryver commented on #789
I'm closing this as it seems to have been fixed 🙂

[2021-03-25 18:25] MatanBobi commented on #789
@timdeschryver this still isn't working from some regions I think but that's a netlify CDN issue:
https://www.netlifystatus.com/

[2021-03-25 21:40] eps1lon commented on #789
Operational again

[2021-03-25 21:40] #789 closed

[2021-03-29 07:25] MatanBobi commented on #586
IMO people won't necessarily interact on github public discussions as they would on a discord server where the environment is much more unofficial and friendly. So I think we should still prioritize this one.

[2021-03-29 19:23] alexkrolick commented on #586
We can do both. Demographically, Discord doesn't reach/resonate with everyone.

[2021-04-10 00:41] edag94 opened #793 "queries/about.mdx 'within' link broken"
**Describe the bug**
Link is broken in this section:
https://testing-library.com/docs/queries/about/#screen

In the following text:
`(using the within functionality)`

The link around `within` is pointing to

https://testing-library.com/docs/dom-testing-library/api-helpers#within-and-getqueriesforelement-apis

Which then returns a 404 page not found

**To Reproduce**
Steps to reproduce the behavio

[2021-04-13 01:21] alexkrolick commented on #793
Care to make a PR to update this?

[2021-04-13 01:23] edag94 commented on #793
Yep I can do that, I was in a hurry at the time and wanted to at least raise an issue so this can be fixed.

[2021-04-13 07:31] #793 closed

[2021-04-16 05:25] jamiehaywood opened #798 "Documentation lacks information on createEvent()"
- `@testing-library/dom` version: **latest**
- Testing Framework and version: **jest 26.0.0**

- DOM Environment: **jsdom latest**

### Relevant code or config:

[code]

[code]

### What you did:
I was trying to mock the `beforeinstallprompt` event using `createEvent()`. The documentation wasn't very clear as to how I create events, so I took a look at the source and it still wasn't clear to me.

[2021-04-18 14:35] AdriSolid opened #800 "type RenderOptions missed for TypeScript example in Setup/Custom Render"
**Describe the bug**
`RenderOptions` missed for TypeScript example in [Setup/Custom Render](https://testing-library.com/docs/react-testing-library/setup#custom-render).

**To Reproduce**
Just copy the example in a React/TypeScript file (.tsx), so editor should throw the missing type error.

**Expected behavior**
Examples should import all the used types in render.

[2021-04-18 17:19] AdriSolid commented on #800
PR: https://github.com/testing-library/testing-library-docs/pull/801

[2021-04-19 08:05] #800 closed

[2021-04-20 02:02] mrdulin opened #803 "Page not found for queries documentation page"
**Describe the bug**

Page not found for link: https://testing-library.com/docs/dom-testing-library/react-testing-library/migrate-from-enzyme/dom-testing-library/api-queries.mdx#byrole

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [Test 1: Render the component, and check if the h1 value is correct]( https://testing-library.com/docs/react-testing-library/migrate-from-enzyme/#test-1-r

[2021-04-21 13:14] jpgorman opened #804 "Setup for custom queries clashes with AllByAttribute type"
**Describe the bug**
https://testing-library.com/docs/react-testing-library/setup#add-custom-queries

Existing setup for custom queries documentation does not work with typescript

**To Reproduce**
converting the following to typescript

[code]
[code]
Produces a type error in the buildQueries function
type error

[code]

**Expected behavior**
When converting the provided example to typescript the

[2021-05-02 08:32] MatanBobi commented on #662
I'm closing this one as there seems to be no response and @lidoravitan made the changes.
@arawden if this still isn't working for you, feel free to comment here and I'll re-open it.
Thanks everyone!

[2021-05-02 08:32] #662 closed

[2021-05-05 07:44] Liadshiran commented on #753
I can help with this :)

[2021-05-05 08:03] ShayElkana commented on #763
Hi @martinkask-clarifai , I have tried to reproduce the issue with no success, can you please re-verify if the issue still exists

[2021-05-05 08:52] shemExelate opened #819 "classnames package missing in dependencies"
**Describe the bug**
classnames package is used in the project without being in package.json
its currently only working because a reference in package-lock.json

**To Reproduce**
Steps to reproduce the behavior:
1. delete package-lock.json
2. run npm install
3. build will fail because package is missing

**Expected behavior**
build should work even without a lock file

[2021-05-05 10:48] #819 closed

[2021-05-05 14:10] #753 closed

[2021-05-05 14:20] #803 closed

[2021-05-05 14:23] itsik-avidan commented on #737
@alexkrolick I've created a PR to add the relevant information

[2021-05-06 15:42] eps1lon commented on #763
Considering that cypress-testing-library actually runs tests with `cy.findByText().should('not.exist')` and there has been no response with a repro, I'm closing.

If you can reproduce the problem, feel free to ping me and provide a cloneable repro.

[2021-05-06 15:42] #763 closed

[2021-05-06 15:44] #469 closed

[2021-05-13 22:42] luizbaldi opened #845 "Add keyboard method to the user-event page"
**The problem**
I had to use the user-event [`.keyboard()`](https://github.com/testing-library/user-event#keyboardtext-options) API method to simulate a keyboard event, but I found that it's not part of the official [doc](https://testing-library.com/docs/ecosystem-user-event), even though it was released some time ago.

**The solution**
It would be nice to have the user-event keyboard API method b

[2021-05-15 00:46] vxxce opened #847 "Footer link to API points at wrong uri"
**Describe the bug**
The Footer component has a link to the "API" which points to `docs/dom-testing-library/api-queries` (https://testing-library.com/docs/dom-testing-library/api-queries). The page does not exist and clicking the link redirects to 404 page.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to https://testing-library.com/docs/
2. Scroll to the footer at the bottom of t

[2021-05-23 09:31] #847 closed

[2021-06-10 05:45] evilquail opened #863 "About Queries:: Use of word "Throw" for Multiple Elements queries is not clear"
**Describe the bug**
On the page "About Queries" there is a summary table. It uses the word "Throw error" for single element queries and the word "Throw" for multiple elements queries. The word "Throw" is not clear here as it does not mention the throw value.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'docs/queries/about' page
2. Click on 'Summary Table' to see the table
3. Tally

[2021-06-11 06:13] #863 closed

[2021-06-14 05:16] BustosAndrew commented on #646
@MatanBobi just to be clear, does jest automatically call cleanup at this point in time?

[2021-06-14 06:16] MatanBobi commented on #646
Hi @BustosAndrew!
Yeah, as you said, if you're using `jest` they are injected automatically so we'll use that hook to run our `cleanup` function.

[2021-06-19 20:40] yazeedb commented on #389
@eps1lon Thank you so much! This test is passing for me.

[code]

[2021-06-23 18:51] sicksid commented on #495
i really appreciate this snippet, thank you for sharing

[2021-06-29 09:24] atJiangBei opened #877 "Page Not Found"
https://testing-library.com/docs/vue-testing-library/intro

click（full list of queries ）

[2021-06-29 09:28] afontcu commented on #877
Hi! Nice catch, it should probably point to https://testing-library.com/docs/queries/about or even https://testing-library.com/docs/queries/about/#types-of-queries

fancy to open up a PR? Here's the file: https://github.com/testing-library/testing-library-docs/blob/d65f04b4800a53c8a7c81e2a26a5b748d1909f75/docs/vue-testing-library/intro.mdx

[2021-06-29 09:40] atJiangBei commented on #877
OK

[2021-06-29 18:45] #877 closed

[2021-07-12 06:40] #845 closed

[2021-07-18 02:28] robbienohra opened #889 "TS example of custom-queries.js"
### Describe the feature you'd like:

The current [setup documentation](https://testing-library.com/docs/react-testing-library/setup/) has a TS example for the `test-utils.js` script (namely `test-utils.tsx`). It does not, however, have a TS example of the `custom-queries.js` script. The ask is to update the documentation with such an example — I've tried implementing one myself with some difficul

[2021-07-18 22:43] robbienohra commented on #889
Thanks @MatanBobi

[2021-07-18 22:43] robbienohra commented on #889
Any tips for resolving the `args` type?

[2021-07-18 22:48] nickmccurdy commented on #519
There's already a user-event page in the docs, but there are still some differences between the docs page and the readme. In order to remove this content from user-event, we'll need to make sure they're in sync first.

Here's what I'm planning on doing:
1. [ ] Update user-event readme with changes in docs
2. [ ] Update docs with changes in user-event readme
3. [ ] Replace redundant content in user

[2021-07-20 17:12] nickmccurdy commented on #889
`...args` is `unknown[]`, which is an array of any length. `queryAllByAttribute` only has 3-4 arguments, so its arguments can't be variable. You can work around this with tuple manipulation (I don't remember the syntax) or manually passing arguments:
[code]

[2021-07-21 04:57] robbienohra commented on #889
🥳  thanks, @nickmccurdy !

[2021-07-24 11:54] FahadAminShovon opened #897 "The first test of example-react-router fails"
the first example of example-react-router fails
to be more precise
[code]

**To Reproduce** Steps to reproduce the behavior:

1. copy paste the app.test.js
2. run tests

**Expected behavior**  All three test cases should pass

**Screenshots**
<img width="1011" alt="Screenshot 2021-07-24 at 5 50 00 PM" src="https://user-images.githubusercontent.com/29832989/126867522-79a52e4b-6fb7-443d-b0a4-8b7b6e2

[2021-07-24 12:03] eps1lon commented on #897
This looks simpler anyway and [`MemoryRouter` is the recommended approach for testing](https://reactrouter.com/web/api/MemoryRouter) anyway. Want to send a PR that documents `MemoryRouter` instead?

[2021-07-24 12:07] FahadAminShovon commented on #897
sure, will send a pr

[2021-07-26 16:35] alexkrolick commented on #897
I recall this was a point of contention with R regarding the recommended approach, because you can't interop with window.location and other APIs that real apps use in conjunction with RR when using MemoryRouter.

[2021-07-27 07:17] eps1lon commented on #897
Shouldn't you use `useLocation` anyway? Especially because accessing `window.location` isn't trivial when working with concurrent rendering. Sounds to me like this is the reason they recommend using a different router component to test these incompatibilities.

Regardless, I would rather follow their advise and when they recommend a different approach, we can sync again. Otherwise we should docume

[2021-07-28 04:51] alexkrolick commented on #897
Previous discussion: https://github.com/ReactTraining/react-router/pull/7169#issuecomment-597397021

[2021-08-05 05:58] dwjohnston opened #902 "Contribution guidelines could be expanded?"
I've just raised this PR #901  - it's a tiny PR that has the queries summary open by default.

Thing is - I'm not raising it against an issue - I just think it's a good idea so created the PR.

Is this considered bad form? I couldn't see anything about 'raise an issue first' in the contributions guidelines.

[2021-08-05 08:53] eps1lon commented on #902
Perfectly fine to open without an issue.

[2021-08-05 08:53] #902 closed

[2021-08-08 11:26] oaraujocesar opened #909 "Translation for other languages"
**Is your feature request related to a problem? Please describe.**
I was talking to some brazilian people who wanted to learn more about the Testing Library but the were
struggling because english is not our native language and a lot of people don't know english.

**Describe the solution you'd like**
Enabling internacionalization so the community would be able to contribute on the docs' translatio

[2021-08-09 18:58] alexkrolick commented on #909
Docusaurus supports translation:

https://docusaurus.io/blog/2021/03/09/releasing-docusaurus-i18n#translate-your-site

[2021-08-12 07:39] ph-fritsche opened #912 "[user-event] Read-only field in code example"
** Problem **

The code example below does not work and causes confusion.
The React `value` prop without an `onChange` handler causes the field to be read-only.

** Suggested solution **

The code example should either use `defaultValue` prop or HTML instead of React/JSX.

** Footnote **

Do we want to eliminate React from code examples in light of https://github.com/testing-library/user-event/iss

[2021-08-12 14:56] kentcdodds commented on #912
The suggestion and footnote sound good to me

[2021-08-12 18:21] oaraujocesarTW commented on #909
@alexkrolick, I'll take a look on it. Thank you! =)

[2021-08-14 23:19] oaraujocesar commented on #909
@alexkrolick I already started the implementation but I'm a little bit confused since on the Docusaurus' docs they say something about deploying a SPA per locale. And that's why when I try to change the locale on the Dropdown button, I get a 404 page. Do you have an idea of how this would work?

[2021-08-15 21:30] oaraujocesar commented on #909
@alexkrolick, hey, Alex! I already started working on translations but there are too many doc files for all those libraries so I was wondering if it would be a better approach if I started translating the React one and then create PRs just with the translations for other libraries. What do you think about it?

[2021-08-26 03:28] Rain120 opened #922 "Site blocked from China"
### Why?

I am so upset for can't open the [document site](https://testing-library.com/), I don't know why. Maybe I come from China.

### Affect

I can read nothing by the document. Look 👇

![image](https://user-images.githubusercontent.com/20939839/130895357-9a218e8f-ff91-4ad1-9136-2575c8c0764e.png)

### How to resolve it?

In my advice, I request to add the document version with github.io and  I

[2021-08-28 19:23] alexkrolick commented on #922
The concern isn't so much that a search for "testing-library docs" switches the results, but that a search for a testing library example that is in the official docs gets pushed down compared to third-party blogs and other content that might not be as up to date. This is a concern with many docs sites.

We'll try to work on this though.

[2021-09-01 18:39] aligg opened #923 "Dead link in Learning Material Section"
**Describe the bug** Intro to React Testing Library by Chris Noring goes to a Page not found :)

**To Reproduce** Steps to reproduce the behavior:

1. Go to https://testing-library.com/docs/learning
2. Click on Intro to React Testing Library by Chris Noring
4. See error

I'm thinking just to delete that link since with a quick google around I can't find the content moved elsewhere :)

[2021-09-09 03:25] brleinad opened #925 "Broken link to query list for Vue"
**Describe the bug** A clear and concise description of what the bug is.

**To Reproduce** Steps to reproduce the behavior:

1. Go to https://testing-library.com/docs/vue-testing-library/intro#quickstart
2. Click on `full list of queries`
3. And you will see a `Page not found`.

Or

1. Go to https://testing-library.com/docs/vue-testing-library/faq
2. Click on `What queries does Vue Testing Library

[2021-09-09 08:26] #925 closed

[2021-09-09 10:56] hhaoao opened #928 "pnpm start Compiled with some errors"
**Describe the bug** A clear and concise description of what the bug is.

- Unable to compile build document.

**To Reproduce** Steps to reproduce the behavior:

[code]

**Warning messages** cannot be redirected to a file.

[code]

error log:
[log.txt](https://github.com/testing-library/testing-library-docs/files/7135776/log.txt)

**Expected behavior** A clear and concise description of what you e

[2021-09-10 06:01] #928 closed

[2021-09-23 16:16] chantastic opened #937 "Add Storybook as Framework"
Hey maintainers!

I'd like to contribute Storybook documentation as a **Framework** .

With the introduction of [Storybook Component Format 3](https://storybook.js.org/blog/component-story-format-3-0/#:~:text=Component%20Story%20Format%203.0%20was%20developed%20by%20Michael,organized%20by%20a%20steering%20committee%20of%20top%20maintainers.), Storybook is doubling down on [Testing Library]. `testi

[2021-09-23 16:50] alexkrolick commented on #937
Cool, nice to see it. Is this a framework type of integration (which has its own package), or more of a pattern like the ones for Redux and React Router (under the Examples page, with additional documentation maintained in the main package docs)?

[2021-09-23 18:18] #923 closed

[2021-09-23 19:43] chantastic commented on #937
Nice to see you too, @alexkrolick! And thank you for the reply.

We're working out the integration piece right now. My understanding is that it will be published soon as `@storybook/testing-library`. The library exposes instrumented versions of `@testing-library/dom` and `@testing-library/user-event` for the Storybook integration.

Beyond that, the rest would be document how Storybook provides a G

[2021-09-23 21:08] alexkrolick commented on #937
Most of the other libs are in the `@testing-library` org & namespace, which allows the TL contributors to maintain them (propogate breaking changes, etc), but it's _probably_ ok if you want to maintain downstream.

For the docs, we can check out the content in a PR and decide if it should be an Example or a Framework page.

[2021-09-23 21:39] chantastic commented on #937
Thank you for the insights, Alex!

It's awesome to her that you would consider maintaining the `@testing-library/storybook` under the Testing Library org. I didn't want to jump in with that assumption. But we're happy to discuss an approach that supports the Testing Library community well.

Because it's a relatively new integration, I suspect that there might be a decent amount churn (at least ear

[2021-09-23 21:40] chantastic commented on #937
With regard to documentation, I'll dive into the other Testing Library Framework docs and feel for the voice and patterns. As we get closer to release, I'll post some proposals here.

Thank you!

[2021-09-24 04:56] alexkrolick commented on #937
What we have done in the past is bring in the packages and then create a sub team for maintaining that framework, so we would just do that for any Chromatic people contributing to it

[2021-09-24 23:46] chantastic commented on #937
Thank you for the clarification, that sounds great.

I ran the idea of having having the integration live under the Testing Library org and learned a few things…

Sounds like could work on our end. The bulk integration comes would come from `@storybook/instrumenter` — which we maintain across integrations. `@testing-library/storybook` would be a thin integration around the latest testing-library A

[2021-09-25 22:40] nickmccurdy opened #942 "Add documentation for using Spectacular with Angular"
https://twitter.com/LayZeeDK/status/1441016955692064772

[2021-09-26 09:16] MatanBobi commented on #937
Feel free to reach out if you need any help with documentation or any integration @chantastic

[2021-09-28 18:13] chantastic commented on #937
thanks @MatanBobi! will do

[2021-10-18 18:03] ph-fritsche opened #953 "[userEvent]: Keep key pressed for multiple `keydown` events"
https://github.com/testing-library/user-event/pull/728 is merged with the feature.
It was just waiting for documentation and is released now to prevent merge conflicts with the upcoming `v14`.

Maybe someone picks this up and converts the comments in code and PR into documentation here.

[2021-10-21 02:45] srmagura opened #954 "[user-event] Document options for each method"
**Is your feature request related to a problem? Please describe.**
The [user-event page](https://testing-library.com/docs/ecosystem-user-event) shows almost every method taking in an `options` object, but, for the most part, the documentation page does not actually say what options are accepted by each method.

**Describe the solution you'd like**
Document the options for each user-event method. I

[2021-10-21 20:20] Akolyte01 opened #960 "Many links broken on api documentation"
The documentation for the api has many broken links.
https://testing-library.com/docs/svelte-testing-library/api/
For example the [query functions ](https://testing-library.com/docs/svelte-testing-library/api/dom-testing-library/api-queries.mdx) link leads to "Page Not Found"

[2021-10-25 16:42] #960 closed, assigned to nobody

[2021-11-02 00:00] vapurrmaid opened #963 "[userEvent/fireEvent]: fireEvent docs say to use userEvent, but all code samples use fireEvent"
**Description:**

Hey there :wave: - our team is newer to `testing-library/react`, and just had a bit of confusion in PR review whereby we went back and forth on whether to use `fireEvent` or `userEvent`.

All of the code examples in the react documentation:

https://testing-library.com/docs/react-testing-library/example-intro

https://testing-library.com/docs/react-testing-library/api/#asfragment

[2021-11-02 00:04] vapurrmaid commented on #963
Our thought was that maybe the code samples need an update - we're unsure, but just wanted to point out our initial confusion on this topic. Thanks for taking a look!

[2021-11-02 16:22] jsjoeio commented on #963
Yes! As @vapurrmaid said, we were confused on which should be used. We're more than happy to raise a PR to update the docs!

[2021-11-03 12:44] MatanBobi commented on #963
Hi @vapurrmaid and @jsjoeio, thanks for taking the time to open this :)
This is actually on purpose, we didn't want to "couple" both of the libraries as this ability is available even without `use-event`.
The [`user-event` page](https://testing-library.com/docs/ecosystem-user-event#clickelement-eventinit-options) actually contains React examples so I think it's best to keep it that way.
I'm keepin

[2021-11-18 03:45] kentcdodds opened #965 "Algolia changing"
I got an email that algolia is changing their search stuff. Here are the docs on the new API: https://docsearch.algolia.com/docs/docsearch-v3/

Let me know what you need from me. I have my api key and id. Let me know if/when you need those.

[2021-11-18 06:50] MatanBobi commented on #965
I'm not sure there's anything we should be doing here, we're using Algolia through docusaurus classic preset which includes  [theme-search-algolia](https://github.com/facebook/docusaurus/tree/main/packages/docusaurus-theme-search-algolia).
This probably means that once docusaurus will implement this, we'll be able to upgrade too.
I think it's worth opening this one in docusaurus though as I was un

[2021-11-18 15:33] #965 closed

[2021-11-29 17:57] ryan-sandy commented on #897
Hey, which version of react-router are you using? If you're using the stable version of react-router (v5) and history (v5), the tests will fail. You need to downgrade history to v4 for the route change to work.

[Issue 869](https://github.com/testing-library/react-testing-library/issues/869) documents the incompatibly. [My PR](https://github.com/testing-library/testing-library-docs/pull/968) to ad

[2021-12-10 19:02] adamhenson opened #975 "Missing documentation: differences between queries"
It seems that it would be helpful to provide documentation about when to use `getBy*`, `queryBy*`, `findBy*` and why we actually need all 3 methods.

I ran into an issue in which I don't know how to assert that an asynchronously rendered element is not in the document. I found a comparison of the query methods in the [`react-testing-library` docs](https://testing-library.com/docs/react-testing-lib

[2021-12-10 20:23] adamhenson commented on #975
Thanks @timdeschryver. I actually did acknowledge that and linked it in the description of this ticket. My issue that is that the documentation isn't answering my questions specifically and the reason as to why one would need one query over another isn't clear to me (actual use cases).

Also, this point:

I was able to pick off something from the above docs... but still doesn't feel completely rig

[2021-12-10 20:23] #975 closed

[2021-12-10 20:28] adamhenson commented on #975
It would be nice if this part of the API could be simplified and if one method would support the necessary use cases 🤷

[2021-12-10 20:28] alexkrolick commented on #975
@adamhenson did you see this page? https://testing-library.com/docs/guide-disappearance

[2021-12-10 20:40] adamhenson commented on #975
Yes, @alexkrolick - not sure if you saw [my comment](https://github.com/testing-library/testing-library-docs/issues/975#issuecomment-991270100).

It doesn't really answer how to assert that *asynchronous* elements are not in the DOM. My example from above was what I ended up using... just doesn't feel that good.

[2021-12-10 21:08] alexkrolick commented on #975
The problem with that assertion is that you don't know if it ever entered the DOM at all - ie, that will pass on the first try if the element is not there. So that's why `waitForElementToBeRemoved` requires it to be present initially. If you want to wait for it to appear async as well, that's where an `await findBy` query can be used.

[2021-12-10 21:16] adamhenson commented on #975
I just want to confirm that an async element is not there. `await findBy` will throw an error.

[2021-12-10 21:18] adamhenson commented on #975
For example, per the description in this issue. I just want this to work, but it throws an error, before the assertion line.

[code]

I can't use `queryByText` because it doesn't support async.

[2021-12-10 21:24] alexkrolick commented on #975
If the findByText throws an error, it must never be appearing, and by doing this:

await waitFor(() => {
  expect(screen.queryByText('hello world')).not.toBeInTheDocument()
});

You are skipping over the part where it checks for appearance at all.

So the problem is probably more in the _appearance_, than the disappearance, which can be a problem with Promises, mocks, etc. in your test.

[2021-12-10 21:28] adamhenson commented on #975
No, my test is not complicated. And I could create a repro if you're really interested.

@alexkrolick - I don't think you're exactly following my issue and perhaps I'm not explaining correctly. The problem is simple. Let me spin up a CRA with an example test...

[2021-12-10 21:56] adamhenson commented on #975
@alexkrolick - here is a reproduction https://github.com/adamhenson/react-testing-library-issue-975-repro/pull/1/files

I have 2 elements that are rendered deterministically based on the result of an asynchronous operation. I want to test them both in the below scenarios.

1. Test that "some thing" element is displayed eventually.
2. Test that "some other thing" is never displayed (within a reason

[2021-12-10 21:57] alexkrolick commented on #975
I think I get it - are you trying to assert that an element that's currently not rendered does not show up. It's a very challenging assertion because there is no observable change in the DOM that can trigger the end condition in the passing state, other than the end of a time window. So it's basically equivalent to a sleep and then requery.

[code]

[2021-12-10 22:00] adamhenson commented on #975
Yes, to me - it seems like a common testing scenario that should be supported and documented. I get that it's challenging. What you have up there is similar to what I came up with... not sure if you saw it.

[code]

From the above I got exactly the opposite of what I expected.

[code]

[2021-12-10 22:05] alexkrolick commented on #975
It's tough to say we should provide a helper for this because the result is either a test that takes a fixed amount of time or one that never finishes. It's often possible to rework the test to do something else for a positive end condition.

[2021-12-10 22:07] adamhenson commented on #975
Yep, I'm realizing now how complicated this really is while. Thanks for providing your solution. I think mine didn't work because on first render the element is not there and it then throws right away. With your solution the `timebox` param would need to be the time that the element should definitely show after... which could make sense.

Thanks again for helping me think through this. I wish thin

[2021-12-10 22:31] adamhenson commented on #975
For anyone who might be interested. @alexkrolick suggestion [here](https://github.com/testing-library/testing-library-docs/issues/975#issuecomment-991332003) could work. I ended up modifying a little bit and using it like the below. This is testing that element 1 shows after specified amount of time and element 2 does not show after a specified amount of time. Since I'm mocking API requests and I

[2021-12-26 22:36] redbar0n opened #976 "API is hard to find from landing page"
Description, screenshot and reproduction here:
https://twitter.com/magnemg/status/1473314668815032323?s=21

Expected to see the API in the navbar, on mobile (latest iOS Safari) and on desktop.

[2021-12-27 08:04] MatanBobi commented on #976
Thanks for opening this one :)
I'll elaborate a little bit here since a reference to our conversation in twitter isn't sufficient IMO.

What @redbar0n says here is that as an API focused site, we should have a link to the API pages at our top level navigation:

![image](https://user-images.githubusercontent.com/12711091/147449663-f18365b4-91ad-4f5c-a84f-d550e11abc1b.png)

Just for a reference, it

[2021-12-31 17:48] alexkrolick commented on #976
You mean rename the Docs link in the top left?

[2022-01-02 17:13] redbar0n commented on #976
No, not actually. That kind of illustrates the problem, because I also thought Docs would lead me to the API... But in fact API is a separate page from Docs.

What I'm thinking about is adding the API link in the bottom of the page to the navbar.

[2022-01-07 11:29] ph-fritsche commented on #963
We should reconsider this when #980 is merged

[2022-01-10 08:41] #519 closed

[2022-01-10 08:41] #953 closed

[2022-01-10 08:41] #954 closed

[2022-01-21 08:06] michalbundyra opened #991 "301 redirection to pages with trailing /"
**Describe the bug** A clear and concise description of what the bug is.

When you go to the documentation for GitHub link or some just open the page and hard-refresh server reports 301 redirection to page with trailing `/` in the uri:

<img width="766" alt="image" src="https://user-images.githubusercontent.com/7423207/150488550-f24bf78f-c04d-4a6a-8ec0-aff084595a27.png">

All seems to be fine, as

[2022-01-21 11:37] timdeschryver commented on #991
Similar to https://github.com/testing-library/testing-library-docs/pull/985

[2022-01-26 00:23] marcosdemelo opened #997 "Why the example is prompting to ignore upper/lower case on a screen check"
This is the example at documentation https://github.com/testing-library/testing-library-docs

[code]

[code]

As this is a test that will guarantee something that is on the screen, I believe the simplest situation is to do an exact check. I know the developer can adapt to this need, but as a basic example, I think it's leading to a specific check case where case is not important. Contents in the i

[2022-01-27 07:48] #991 closed

[2022-01-27 08:12] MatanBobi commented on #963
@ph-fritsche
Now that #980 is merged, we can talk about this one.
Why do you think we should reconsider it?

[2022-01-27 12:21] ph-fritsche commented on #963
I've got the impression that more people than we probably like to admit do not take the time to read the docs. They take the first example that vaguely might depict their problem and copy it into their test.
As soon as the test shows a check mark, they can no longer be bothered with the question what their test actually verifies.
A lot of the questions on Discord and Stackoverflow are not how to u

[2022-02-02 03:34] ianizaguirre commented on #2
Yea I would love if it was added to the kapeli dash app

[2022-02-08 17:17] adamhenson opened #1012 "Document better the details of aync methods"
**Is your feature request related to a problem? Please describe.**

In the example seen at the bottom of this issue, I get flaky results. The assertion passes sometimes and fails sometimes. This comes from a lack of understanding by me of how async methods work. I've Googled the heck out of it and read the docs linked below a bunch of times. I also [looked through the source code](https://github.c

[2022-02-08 19:42] eps1lon commented on #1012
Thanks for the detailed explanation.

Could you clarify how understanding `interval` and `timeout` helped you fix the flakyness? And please clarify what "flaky results" specifically means (fails with what error(s)?).

[2022-02-08 20:34] adamhenson commented on #1012
Hi @eps1lon:

To clarify what I mean by "flaky results" - the assertion above would fail sometimes and pass sometimes with no change to the code under test. The failure would be along the lines of the element not found. The log showed an element with content like this `times fetch called: 1`, which tells me that `findByText` doesn't know what to wait for and didn't wait long enough for the content

[2022-02-08 20:45] eps1lon commented on #1012
I understand what flaky means. The question is what specific error(s) you see. That's really important here. A vague "sometimes it errors, sometimes it doesn't" will not help us identify the issue.

Yeah I agree that we assume too much knowledge here. Interval is slightly more described but we should be explicit what they do:
`interval` specifies the interval at which we check the condition (e.g.

[2022-02-08 20:53] adamhenson commented on #1012
@eps1lon here is the full error:

[code]

[2022-02-08 20:56] adamhenson commented on #1012
`useDataFetch` FWIW:

[code]

[2022-02-08 20:57] adamhenson commented on #1012
So, I guess my inclination to increase `timeout` was correct... although not sure why the default `1000` time wouldn't work. What I was missing from the docs is that `interval` is responsible for "checking" before the final timeout.

[2022-02-20 12:58] MogLuiz opened #1014 "Documentation: Include the use of unmount in the rerender session"
**Is your feature request related to a problem? Please describe.** A clear and
concise description of what the problem is. Ex. I'm always frustrated when [...]

The rerender method is a method that needs to be unmounted, otherwise it will take the previous rendering context, thus failing the test.
I recently ran into this problem and didn't find it in the "rerender" method section in the documenta

[2022-02-23 18:26] alexkrolick commented on #1014
Per #1015, this isn't the intended use of `rerender`

[2022-02-23 18:26] #1014 closed

[2022-03-09 20:02] sivaraam opened #1022 ""Who is using this?" page doesn't look so good on mobile"
**Describe the bug** The ["Who is using this?" page](https://testing-library.com/users/) of the doc site does not look so well on mobile.

**To Reproduce** Steps to reproduce the behavior:

Visit https://testing-library.com/users/ on mobile (size of screen in which it was tested: 414x775

**Expected behavior**: The logos are visible clearly. Currently, the logos appear so small that it is hard to

[2022-03-10 20:40] sivaraam commented on #1022
I would love to do that but I'm not sure if I would find the time to do that. So, if anyone else is interested to fix this, I'll better leave it to them 🙂

[2022-03-11 12:25] MatanBobi commented on #1022
Thanks for the report @sivaraam, I created a PR to resolve this one :)

[2022-03-11 17:40] #1022 closed

[2022-04-23 14:14] MatanBobi commented on #897
Hi, is this one still relevant for RR v6?

[2022-05-03 08:33] LongHaoo opened #1049 "How can I contribute the Chinese translated version？"
**Is your feature request related to a problem? Please describe.** A clear and
concise description of what the problem is. Ex. I'm always frustrated when [...]
Hello! I want to contribute a Chinese version of the document. But I haven't found a place to contribute.
Don't know if there are any plans to make the documentation support different languages

**Describe the solution you'd like** A clear

[2022-05-04 19:46] jbutz opened #1052 "testing-library.com unreachable"
The website is currently using a self-signed certificate and inaccessible.

![Firefox](https://user-images.githubusercontent.com/736696/166814452-2e0a022b-7d16-4564-9ff1-91a8738c5a80.png)

![DuckDuckGo for Mac](https://user-images.githubusercontent.com/736696/166814461-413b7bb0-a803-4ab1-ad19-3e6002b72118.png)

[2022-05-04 19:46] stephenmathieson commented on #1052
Just came here to say this.

![SSL issue in Chrome](https://user-images.githubusercontent.com/571265/166814256-f3f56a75-5d88-4981-bbf2-0b144611e4c8.png)

[2022-05-04 20:03] eps1lon commented on #1052
Not sure if this is a Netlify issue or if we can do something about it. In the meantime, you can use https://main--testing-library.netlify.app/ instead.

[2022-05-04 20:07] eps1lon commented on #1052
Looks like a Netlify issue: https://answers.netlify.com/t/many-netlify-sites-https-certificates-are-invalid/55979.

Will post updates as they come in.

[2022-05-05 16:45] timdeschryver commented on #1052
Seems to be resolved, feel free to reopen if you still experience issues.
https://www.netlifystatus.com/

[2022-05-05 16:45] #1052 closed

[2022-05-16 21:46] perymimon opened #1060 "react: Testing thrown errors"
### Describe the feature you'd like:
When I want to test a situation that my tested hook throws an expected error I like I have the option to test it without hacking the test code.
It will be greeted if the implementation that actually done on that subject on [react-hooks-testing-library](https://react-hooks-testing-library.com/usage/advanced-hooks#errors) will be implemented on `@testing-library/

[2022-05-19 14:50] MatanBobi opened #1065 "Possible error in an example - confusion between react router 5 & 6"
### Discussed in https://github.com/testing-library/testing-library-docs/discussions/1064

<div type='discussions-op-text'>

<sup>Originally posted by **balteo** May 19, 2022</sup>
Hello

It seems the following example (https://testing-library.com/docs/example-react-router) uses the `Switch` component from react router 5 whereas the example title indicates react router 6. This is possible error in

[2022-05-23 04:24] crutchcorn opened #1069 "Add `cli-testing-library` to the "Ecosystem" list"
Hi all! I'm a huge fan of the project and am the maintainer and creator of a project called [`cli-testing-library`](https://github.com/crutchcorn/cli-testing-library).

This is a CLI testing library that looks to emulate the Testing Library API to make interactive CLI applications easier and better to E2E test!

We have an [extremely similar API](https://github.com/crutchcorn/cli-testing-library#u

[2022-05-26 20:23] dmaksimov opened #1101 "React router not navigating to new page inside test"

[2022-05-30 21:44] claudivanfilho commented on #738
Querying by the actual text has this clear CON:
"Strings hardcoded into tests mean you have to update both tests and code for any copy changes."
But it also has a good PRO which is:
"The less you mock, the most integrated and similar to the real experience of the user it becomes".
Ex: What if someone deletes the intl key from the intl file? The test querying by the actual text will fail as expecte

[2022-05-31 02:34] dwjohnston opened #1075 "HTML5 validation errors - can't find anything in documentation."
**Describe the bug**

I'm trying to make assertions on the existence of [HTML5 Validation errors](https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation)

These things:
![image](https://user-images.githubusercontent.com/2467377/171081570-e449fd33-c3a1-40a5-9026-6fd616491125.png)

I have searched 'html5' across the github issues here and for testing-library, as well as on the testing

[2022-06-02 01:29] dwjohnston commented on #1075
A second part of this, is the behaviour of form submission. A real browser will not fire the submit handler if the HTML5 validation is adherred to, but RTL/jsdom will.

This is a bit of a pain for testing, because some of my tests just want to be 'If you haven't filled out the form, then the callback will not be fired'.

Repro for this here: https://github.com/dwjohnston/rtl-html5-validation

I'm

[2022-06-02 15:07] #1075 closed

[2022-06-07 19:49] ckknight commented on #1060
To get the functionality that was previously available in `@testing-library/react-hook`, I came up with this chunk of code:

(it's basically the same code as `renderHook`, with the extra `error`-handling)

[code]

[2022-06-13 17:11] Mr-LJQ opened #1087 "The [user-event] pointer method simulates a selection and cannot trigger the onselectionChange event"
- This is an example from the documentation
[code]
- I thought this would trigger these three events,onmousedown、 onselectionchange 、onmouseup
- In fact, I found that only one event could be triggered:onmousedown

- Written like this, it can trigger both events : onmousedown 、 onmouseup
[code]

- But I found that the call to getSelection().toString() returned "", and that the previous method would

[2022-06-13 17:36] #1087 closed

[2022-06-19 20:18] jimmycallin opened #1091 "Testing-library doesn't work with jest's `test.concurrent.each`"

[2022-06-19 21:43] jimmycallin commented on #1091
Thanks, that make sense!

For reference, how would I create isolated containers for each test?

[2022-06-23 05:24] alexkrolick commented on #1091
https://jestjs.io/docs/configuration#testenvironment-string

One approach could be to use a custom environment that creates a new JSDOM global in `handleTestEvent`. This wouldn't just be useful for concurrent tests, it would also isolate regular serial tests a lot better. But there's probably a pretty large perf cost to doing it.

[2022-06-23 08:11] MatanBobi commented on #589
I think the only open thing left is to update the codesandbox examples.
If anyone still wants to take it, this is open :)

[2022-06-23 08:14] MatanBobi commented on #20
Since react-hooks-testing-library has been deprecated and merged to RTL, I'm closing this one.
Thanks everyone!

[2022-06-23 08:14] #20 closed

[2022-06-23 08:20] MatanBobi commented on #997
Hi @marcosdemelo!
Sorry it took us some time to answer this one.
Since we don't really care about the actual string and only it's meaning, we usually prefer recommending the use of regular expressions. The purpose of the test is not to verify the strings because these may easily be changed if your app is translated.

Anyways, this is a preference and you can definitely do that if you believe that

[2022-06-23 08:20] #997 closed

[2022-07-04 09:03] #912 closed

[2022-07-04 10:21] #249 closed

[2022-07-05 12:56] #1065 closed, assigned to nobody

[2022-07-08 17:18] mikeplis commented on #738
The sample code in `Use translation library in tests` doesn't appear to be working, at least with TypeScript.

`getNodeText` expects an HTMLElement, so trying to pass it a `FormattedMessage` results in this TypeScript error:

[code]

[2022-07-09 08:46] thanhsonng opened #1110 ""Testing Library and React Router v5" example uses React Router v6 API"
**Describe the bug**

The [Testing Library and React Router v5](https://testing-library.com/docs/example-react-router/#testing-library-and-react-router-v5) example uses the `location` and `navigator` props of `<Router />`, which only exist in React Router v6. In v5, the only relevant prop is `history` ([reference](https://v5.reactrouter.com/web/api/Router/history-object)). I will open a PR to fix

[2022-07-10 13:44] thanhsonng commented on #1110
Closing since submitted PR is merged

[2022-07-10 13:44] #1110 closed

[2022-07-10 13:53] MatanBobi commented on #1110
Thanks @thanhsonng!
Next time, writing "Resolves #issue number" will automatically link the issue and close it :)

[2022-07-10 13:56] thanhsonng commented on #1110
@MatanBobi I thought linking it from the right sidebar was the only way, which I couldn't do without permission. Thanks for the tip!

[2022-07-13 13:22] polibb commented on #976
I agree it is a bit daunting for me when I enter the [main page](https://testing-library.com/) looking for the API and do not find it directly. I assume I have to find it through the Docs section, but at this point I'm already a few clicks away and get distracted by all the options in the Docs: Should I look into the _Core API_ or _Frameworks > React Testing Library_? Or _DOM Testing Library_, sin

[2022-07-27 05:22] fawazdinnunhan commented on #738
I've run into the same issue, how is this working for you? @pedrosimao

[2022-07-27 13:21] mikeplis commented on #738
Fwiw I got it working with a combination of `screen.findByText` and [`intl.formatMessage`](https://formatjs.io/docs/react-intl/api/#formatmessage)

[2022-07-27 22:04] fawazdinnunhan commented on #738
Doesn't that require the `useInt()` react hook, which can only be used inside components? or so the react hook rules suggests.

[2022-07-27 22:33] IanVS opened #1131 "Cannot use `dont-cleanup-after-each` in browser"

[2022-08-01 18:36] TadeuA commented on #1060
I agree with [perymimon](https://github.com/perymimon), you don't need to wait to have a component error resolution to raise the hooks error resolution.

Now with the arrival of React 18 and the non-update of the lib `@testing-library/react-hooks`, I would be very grateful if this could be implemented as soon as possible.

[2022-08-04 14:12] Aliaksandrsen opened #1130 "Update Codesandbox Examples"
Please update Codesandbox examples regarding react-router v6

https://github.com/testing-library/testing-library-docs/blob/732651f5c69c410eff9a362bc42a67d14770f840/docs/example-codesandbox.mdx

[2022-08-07 12:27] achinchen opened #1133 "react-testing-library/api: renderHook might be exported by `@testing-library/react-hooks`"
Hello, maintainers.

I found the example code about `renderHooks` might can be updated, the current version is copied from [`react-testing-library/api`](https://testing-library.com/docs/react-testing-library/api#renderhook).

If PR is needed, I'm happy to do for it.

## Current
[code]

[2022-08-07 13:35] MatanBobi commented on #1133
Hi @achinchen, thanks for opening this.

The `renderHook` function moved from RHTL to RTL as part of the RTL work to support React 18.
RHTL has been deprecated and will only work for React<18. For React>18, you'll need to import from RTL.

[2022-08-07 13:35] #1133 closed

[2022-08-08 08:30] bmulholland opened #1134 "Link to Firefox addon 404s"
On https://testing-library.com/docs/queries/about#browser-extension, the link to the Firefox addon is a 404. I tried searching for the addon and couldn't find it, so I think the addon may be dead, but I'm not sure. Didn't want to directly create a PR to change because I'm not sure what the best edit would be (or if I just somehow missed the addon via search).

[2022-08-08 08:41] ph-fritsche commented on #1134
There is a PR pending: #1100
Underlying issue: https://github.com/testing-library/testing-playground/issues/344

[2022-08-08 08:45] bmulholland commented on #1134
Thanks! I searched issues but not PRs...

[2022-08-08 09:47] #1134 closed

[2022-08-09 17:55] eps1lon commented on #1060
The problem is that without understanding the problemspace fully we might create an interface that only works with hooks but not components. If we rush hooks implementation and later realize that it's not a good interface for testing errors in components, we have to either release another breaking change or fragment the testing landscape. Neither of these scenarios is ideal.

We already have issue

[2022-08-09 18:03] #889 closed

[2022-08-14 18:10] davidnixon opened #1139 "updateProps dos not exist"
**Describe the bug** A clear and concise description of what the bug is.

https://testing-library.com/docs/vue-testing-library/api#updatepropsprops
Does not exist

**To Reproduce** Steps to reproduce the behavior:

[code]

**Expected behavior** A clear and concise description of what you expected to
happen.

`updateProps` is not defined but `rerender` is defined and works as expected according to

[2022-09-07 04:19] domino2 opened #1147 "Not existing `querySelector` in the library and `render` api mismatch"
When doing a search of `querySelector` function, it looks like it is placed in the result of the `render` function.
For example here: https://testing-library.com/docs/queries/about/#manual-queries

But `container = render( ...` made the container where `querySelector` is not placed, neither in the `screen`.

Also `render(<Component ...., {container});` and `container = render(<Component ...` doesn

[2022-09-07 06:09] timdeschryver commented on #1147
Hi, where do you see `const container = render(...` ?
I can't find it in the docs, but I do see the following which is correct.

![image](https://user-images.githubusercontent.com/28659384/188801643-f45c01c4-8cf9-4764-bf3b-0203efbd285f.png)

[2022-09-12 09:29] #1147 closed

[2022-10-05 20:59] edmundsj opened #1152 "Cannot import userEvent after installing user-event"
I am trying to install user-event using the [install instructions](https://testing-library.com/docs/user-event/install/) available here and then call `userEvent.setup()` per the instructions [here](https://testing-library.com/docs/user-event/setup/). However, it is not importing and I feel like I'm missing something blindingly obvious.

**To Reproduce** Steps to reproduce the behavior:

1. Use cre

[2022-10-05 21:21] edmundsj commented on #1152
Please dear god someone put this line in the docs:

[code]

[2022-10-06 12:56] edmundsj opened #1155 "userEvent examples not viewable on RTL docs"
**Is your feature request related to a problem? Please describe.**
I love they RTL docs. They are fantastic. They are just missing some examples of User Interaction with the user-event library. They appear to exist [here](https://github.com/testing-library/testing-library-docs/blob/main/docs/ecosystem-user-event.mdx), but I couldn't find that doc anywhere on the RTL site or easily indexed through

[2022-10-06 18:19] lithin opened #1156 "Rerender with a wrapper"

[2022-10-09 05:56] MatanBobi commented on #1155
Hi @edmundsj, thanks for opening this..
Since RTL can be used without user-event, we didn't find the need to couple them, even though we do recommend using `user-event`.
You can find that specific page under the "User Interactions" section in our docs:
https://testing-library.com/docs/ecosystem-user-event

[2022-10-09 05:56] #1155 closed

[2022-10-09 06:41] MatanBobi commented on #1130
PR's are more than welcome in [Kent's repo](https://github.com/kentcdodds/react-testing-library-examples).
For now, we have the examples in [our docs site](https://testing-library.com/docs/example-react-router).

[2022-10-11 05:29] xupea commented on #1049
if you still are in interested in Chinese translating, please check repo: https://github.com/xupea/testing-library-docs-cn